# Imports

In [20]:
import os

import requests

This repository is not python module, we can't install it, so let's download the code.

In [2]:
def download_file(link: str):
    code = requests.get(link).text
    name = link.split("/")[-1]
    with open(name, "w") as f:
        f.write(code)


hashrateindex = "https://raw.githubusercontent.com/LuxorLabs/hashrateindex-api-python-client/master/hashrateindex.py"
resolver = "https://raw.githubusercontent.com/LuxorLabs/hashrateindex-api-python-client/master/resolvers.py"

download_file(resolver)
download_file(hashrateindex)

In [3]:
from hashrateindex import API
from resolvers import RESOLVERS

# Set-up

In [4]:
key1 = os.environ["HASHRATE_KEY"]

In [5]:
API = API(host="https://api.hashrateindex.com/graphql", method="POST", key=key)
RESOLVERS = RESOLVERS(df=True)

# Research

`get_hashprice` and `get_asic_price_index` functions take interval and currency as an input in `"_1_YEAR,BTC"` string format. The rest of the functions uses only interval parameter. Options of intervals: `_1_DAY`, `_7_DAYS`, `_1_MONTH`, `_3_MONTHS`, `_1_YEAR` and `ALL`

## Get hashprice

Get hashprice for BTC at 7 day intervals.

In [15]:
function = "get_hashprice"
params = "ALL,BTC"

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_hashprice(hashprice)

                     timestamp  btcHashprice
0    2016-12-26T00:00:00+00:00      0.000820
1    2017-01-02T00:00:00+00:00      0.000842
2    2017-01-09T00:00:00+00:00      0.000797
3    2017-01-16T00:00:00+00:00      0.000782
4    2017-01-23T00:00:00+00:00      0.000680
..                         ...           ...
317  2023-01-23T00:00:00+00:00      0.000003
318  2023-01-30T00:00:00+00:00      0.000003
319  2023-02-06T00:00:00+00:00      0.000003
320  2023-02-13T00:00:00+00:00      0.000003
321  2023-02-20T00:00:00+00:00      0.000003

[322 rows x 2 columns]

## Get bitcoin overview

In [6]:
function = "get_bitcoin_overview"
params = ""

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_bitcoin_overview(hashprice)

,timestamp,hashpriceUsd,networkHashrate7D,networkDiff,estDiffAdj,coinbaseRewards24H,feesBlocks24H,marketcap,nextHalvingCount,nextHalvingDate,txRateAvg7D
0,2023-02-22T17:58:22+00:00,0.07759126265381355,319968054.20460063,39156400059293,11.11,6.373741211172414,1.9798593787586207,458.2017281835,62174,2024-04-29T00:00:00+00:00,3.386712414016829

## Get network hashrate

In [16]:
function = "get_network_hashrate"
params = "ALL"

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_network_hashrate(hashprice)

                     timestamp  networkHashrate
0    2009-01-05T00:00:00+00:00     1.481473e-12
1    2009-01-12T00:00:00+00:00     5.653061e-12
2    2009-01-19T00:00:00+00:00     6.994293e-12
3    2009-01-26T00:00:00+00:00     5.942978e-12
4    2009-02-02T00:00:00+00:00     6.332844e-12
..                         ...              ...
733  2023-01-23T00:00:00+00:00     2.950359e+02
734  2023-01-30T00:00:00+00:00     2.735842e+02
735  2023-02-06T00:00:00+00:00     2.907295e+02
736  2023-02-13T00:00:00+00:00     3.212036e+02
737  2023-02-20T00:00:00+00:00     3.008386e+02

[738 rows x 2 columns]

## Get network difficulty

In [17]:
function = "get_network_difficulty"
params = "ALL"

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_network_difficulty(hashprice)

                                 time    difficulty
0    2010-07-17T01:03:37.892583+00:00  1.810000e-10
1    2010-07-24T01:03:37.892583+00:00  2.440000e-10
2    2010-07-31T01:03:37.892583+00:00  3.520000e-10
3    2010-08-07T01:03:37.892583+00:00  3.520000e-10
4    2010-08-14T01:03:37.892583+00:00  5.110000e-10
..                                ...           ...
653  2023-01-21T01:03:37.892583+00:00  3.759045e+01
654  2023-01-28T01:03:37.892583+00:00  3.935094e+01
655  2023-02-04T01:03:37.892583+00:00  3.935094e+01
656  2023-02-11T01:03:37.892583+00:00  3.935094e+01
657  2023-02-18T01:03:37.892583+00:00  3.915640e+01

[658 rows x 2 columns]

## Get OHLC prices

In [18]:
function = "get_ohlc_prices"
params = "ALL"

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_ohlc_prices(hashprice)

                     timestamp      open      high       low     close
0    2010-07-12T00:00:00+00:00      0.00      0.10      0.10      0.10
1    2010-07-19T00:00:00+00:00      0.10      0.10      0.10      0.10
2    2010-07-26T00:00:00+00:00      0.10      0.10      0.10      0.10
3    2010-08-02T00:00:00+00:00      0.10      0.10      0.10      0.10
4    2010-08-09T00:00:00+00:00      0.10      0.10      0.10      0.10
..                         ...       ...       ...       ...       ...
654  2023-01-23T00:00:00+00:00  22706.02  23960.54  22300.00  23753.18
655  2023-01-30T00:00:00+00:00  23743.37  24255.00  22500.00  22934.51
656  2023-02-06T00:00:00+00:00  22932.91  23452.00  21451.00  21785.10
657  2023-02-13T00:00:00+00:00  21782.37  25250.00  21351.07  24283.18
658  2023-02-20T00:00:00+00:00  24272.51  25250.00  23840.83  24410.83

[659 rows x 5 columns]

## Get asic price index

In [19]:
function = "get_asic_price_index"
params = "ALL,BTC"

hashprice = API.exec(function, params)

RESOLVERS.resolve_get_asic_price_index(hashprice)

                           time   under38   _38to68   above68     close
0     2019-12-16T00:00:00+00:00  0.004610  0.003456  0.001899   6891.72
1     2019-12-17T00:00:00+00:00  0.004610  0.003456  0.001899   6623.82
2     2019-12-18T00:00:00+00:00  0.004610  0.003456  0.001899   7277.83
3     2019-12-19T00:00:00+00:00  0.004610  0.003456  0.001899   7150.30
4     2019-12-20T00:00:00+00:00  0.004610  0.003456  0.001899   7187.83
...                         ...       ...       ...       ...       ...
1160  2023-02-18T00:00:00+00:00  0.000655  0.000414  0.000278  24632.00
1161  2023-02-19T00:00:00+00:00  0.000655  0.000414  0.000278  24283.18
1162  2023-02-20T00:00:00+00:00  0.000646  0.000430  0.000278  24841.36
1163  2023-02-21T00:00:00+00:00  0.000646  0.000430  0.000278  24453.14
1164  2023-02-22T00:00:00+00:00  0.000646  0.000430  0.000278  23825.21

[1165 rows x 5 columns]

# Remove scripts

In [ ]:
os.remove("hashrateindex.py")
os.remove("resolvers.py")