# Imports

In [2]:
import logging

import pandas as pd

import helpers.hdatetime as hdateti
import helpers.hdbg as hdbg
import helpers.henv as henv
import helpers.hpandas as hpandas
import helpers.hprint as hprint
import im_v2.ccxt.data.extract.extractor as imvcdexex
import im_v2.common.data.client.im_raw_data_client as imvcdcimrdc
import im_v2.common.data.qa.dataset_validator as imvcdqdava
import im_v2.common.data.qa.qa_check as imvcdqqach
import im_v2.common.universe as ivcu
import im_v2.common.universe.universe as imvcounun

%load_ext autoreload
%autoreload 2

/app/core/signal_processing/decorrelation.py:12: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [3]:
hdbg.init_logger(verbosity=logging.INFO)

_LOG = logging.getLogger(__name__)

_LOG.info("%s", henv.get_system_signature()[0])

hprint.config_notebook()

INFO: > cmd='/venv/lib/python3.8/site-packages/ipykernel_launcher.py -f /home/.local/share/jupyter/runtime/kernel-289aa57c-2278-4474-b9c2-634d6db862fa.json'
WARNING: Running in Jupyter
-----------------------------------------------------------------------------
This code is not in sync with the container:
code_version='1.4.3' != container_version='1.4.0'
-----------------------------------------------------------------------------
You need to:
- merge origin/master into your branch with `invoke git_merge_master`
- pull the latest container with `invoke docker_pull`
INFO  # Git
  branch_name='CmTask4226_Show_an_example_of_trades_data_to_OHLCV_conversion'
  hash='bbaaf4f45'
  # Last commits:
    * bbaaf4f45 vlady    CmTask4226: notebook with the examples of ohlcv resampling        (    8 days ago) Tue Apr 18 18:48:02 2023  (HEAD -> CmTask4226_Show_an_example_of_trades_data_to_OHLCV_conversion, origin/CmTask4226_Show_an_example_of_trades_data_to_OHLCV_conversion)
    * b805d5864 Grigorii Pomazkin Cm task4240 tweak history lookback (#4244)                        (    9 days ago) Mon Apr 17 18:27:45 2023
    * d34840d90 Daniil Tikhomirov CMTask4222: Add leverage to extra params (#4243)                  (    9 days ago) Mon Apr 17 17:16:12 2023
# Machine info
  system=Linux
  node name=7fd160e9dd79
  release=5.15.0-1033-aws
  version=#37~20.04.1-Ubuntu SMP Fri Mar 17 11:39:30 UTC 2023
  machine=x86_64
  processor=x86_64
  cpu count=8
  cpu freq=scpufreq(current=2499.998, min=0.0, max=0.0)
  memory=svmem(total=33292873728, available=28150272000, percent=15.4, used=4675452928, free=1266601984, active=14231158784, inactive=14104485888, buffers=2139996160, cached=25210822656, shared=2383872, slab=3380133888)
  disk usage=sdiskusage(total=156052275200, used=46792196096, free=109243301888, percent=30.0)
# Packages
  python: 3.8.10
  cvxopt: 1.3.0
  cvxpy: 1.2.2
  gluonnlp: ?
  gluonts: 0.6.7
  joblib: 1.2.0
  mxnet: 1.9.1
  numpy: 1.23.4
  pandas: 1.5.1
  pyarrow: 10.0.0
  scipy: 1.9.3
  seaborn: 0.12.1
  sklearn: 1.1.3
  statsmodels: 0.13.5

# Get couple hours worth of trades data

In [79]:
import im_v2.ccxt.data.extract.extractor as imvcdexex

exchange_id = "kraken"
contract_type = "spot"
ccxt_extractor = imvcdexex.CcxtExtractor(exchange_id, contract_type)

data_type = "trades"
currency_pair = "BTC/USDT"
start_timestamp = pd.Timestamp("2023-04-26T10:00:00+00:00")
end_timestamp = pd.Timestamp("2023-04-26T15:00:00+00:00")
data = ccxt_extractor.download_data(
    data_type,
    exchange_id,
    currency_pair,
    start_timestamp=start_timestamp,
    end_timestamp=end_timestamp,
    depth=10,
)

In [80]:
data.head()

       timestamp    symbol  side    price    amount            end_download_timestamp
0  1682503217983  BTC/USDT   buy  28883.3  0.015878  2023-04-26 18:37:56.480359+00:00
1  1682503218952  BTC/USDT  sell  28883.2  0.173111  2023-04-26 18:37:56.480359+00:00
2  1682503221325  BTC/USDT   buy  28883.3  0.000913  2023-04-26 18:37:56.480359+00:00
3  1682503231466  BTC/USDT  sell  28883.2  0.173198  2023-04-26 18:37:56.480359+00:00
4  1682503231547  BTC/USDT  sell  28883.2  0.250000  2023-04-26 18:37:56.480359+00:00

In [81]:
data = data.set_index(data.timestamp.apply(pd.Timestamp, unit="ms"), drop=False)

In [82]:
df_ohlc = data.price.resample("1Min").ohlc()

In [83]:
df_ohlc.head()

                        open     high      low    close
timestamp
2023-04-26 10:00:00  28883.3  28883.3  28848.7  28848.7
2023-04-26 10:01:00  28868.8  28871.5  28868.8  28871.5
2023-04-26 10:02:00  28852.9  28887.8  28849.5  28886.5
2023-04-26 10:03:00  28862.8  28862.8  28862.8  28862.8
2023-04-26 10:04:00      NaN      NaN      NaN      NaN

In [84]:
df_volume = data.amount.resample("1Min").sum()

In [85]:
resample_data = pd.concat(
    [df_ohlc, df_volume],
    axis=1,
)

In [86]:
resample_data.rename(columns={"amount": "volume"}, inplace=True)

In [87]:
result = resample_data.copy()
result["open"] = resample_data["open"].fillna(
    resample_data["close"].ffill(), limit=1
)
result["close"] = resample_data["close"].fillna(
    resample_data["open"].bfill(), limit=1
)

In [88]:
result["open"] = result["open"].fillna(result["close"].ffill())
result["close"] = result["close"].fillna(result["close"].ffill())

In [89]:
result["high"] = result["high"].fillna(result[["open", "close"]].max(axis=1))
result["low"] = result["low"].fillna((result[["open", "close"]].min(axis=1)))

# get some recent OHLCV data from kraken

In [95]:
data_type = "ohlcv"
currency_pair = "BTC/USDT"
start_timestamp = pd.Timestamp("2023-04-26T10:00:00+00:00")
end_timestamp = pd.Timestamp("2023-04-26T15:00:00+00:00")
data = ccxt_extractor.download_data(
    data_type,
    exchange_id,
    currency_pair,
    start_timestamp=start_timestamp,
    end_timestamp=end_timestamp,
    depth=10,
)

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.00it/s]
/app/im_v2/ccxt/data/extract/extractor.py:210: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  hdbg.dassert(all_bars_df.timestamp.is_monotonic)

In [96]:
data["timestamp"].agg(["min", "max"]).apply(pd.to_datetime, unit="ms")

min   2023-04-26 10:00:00
max   2023-04-26 15:00:00
Name: timestamp, dtype: datetime64[ns]

# Compare resampled data and raw data

In [97]:
data.head()

       timestamp     open     high      low    close    volume            end_download_timestamp
0  1682503200000  28883.3  28883.3  28848.7  28848.7  1.231659  2023-04-26 18:40:03.529006+00:00
1  1682503260000  28868.8  28871.5  28868.8  28871.5  0.020595  2023-04-26 18:40:03.529006+00:00
2  1682503320000  28852.9  28887.8  28849.5  28886.5  0.699707  2023-04-26 18:40:03.529006+00:00
3  1682503380000  28862.8  28862.8  28862.8  28862.8  0.009384  2023-04-26 18:40:03.529006+00:00
4  1682503440000  28862.8  28862.8  28862.8  28862.8  0.000000  2023-04-26 18:40:03.529006+00:00

In [98]:
data = data.set_index(data.timestamp.apply(pd.Timestamp, unit="ms"), drop=True)

In [99]:
data = data.drop(columns=["timestamp", "end_download_timestamp"])

In [100]:
data.head(10)

                        open     high      low    close    volume
timestamp
2023-04-26 10:00:00  28883.3  28883.3  28848.7  28848.7  1.231659
2023-04-26 10:01:00  28868.8  28871.5  28868.8  28871.5  0.020595
2023-04-26 10:02:00  28852.9  28887.8  28849.5  28886.5  0.699707
2023-04-26 10:03:00  28862.8  28862.8  28862.8  28862.8  0.009384
2023-04-26 10:04:00  28862.8  28862.8  28862.8  28862.8  0.000000
2023-04-26 10:05:00  28836.7  28836.7  28836.7  28836.7  0.000340
2023-04-26 10:06:00  28836.7  28836.7  28836.7  28836.7  0.000000
2023-04-26 10:07:00  28824.7  28826.4  28824.7  28826.4  0.500100
2023-04-26 10:08:00  28827.5  28827.5  28827.5  28827.5  0.010181
2023-04-26 10:09:00  28821.2  28821.2  28821.2  28821.2  0.003010

In [101]:
result.head(10)

                        open     high      low    close    volume
timestamp
2023-04-26 10:00:00  28883.3  28883.3  28848.7  28848.7  1.231659
2023-04-26 10:01:00  28868.8  28871.5  28868.8  28871.5  0.020595
2023-04-26 10:02:00  28852.9  28887.8  28849.5  28886.5  0.699707
2023-04-26 10:03:00  28862.8  28862.8  28862.8  28862.8  0.009384
2023-04-26 10:04:00  28862.8  28862.8  28836.7  28836.7  0.000000
2023-04-26 10:05:00  28836.7  28836.7  28836.7  28836.7  0.000340
2023-04-26 10:06:00  28836.7  28836.7  28836.7  28836.7  0.000000
2023-04-26 10:07:00  28824.7  28826.4  28824.7  28826.4  0.500100
2023-04-26 10:08:00  28827.5  28827.5  28827.5  28827.5  0.010181
2023-04-26 10:09:00  28821.2  28821.2  28821.2  28821.2  0.003010

In [76]:
result.equals(data)

False

In [102]:
result.loc[[pd.Timestamp("2023-04-26 10:04:00")]]

                        open     high      low    close  volume
timestamp
2023-04-26 10:04:00  28862.8  28862.8  28836.7  28836.7     0.0

In [103]:
data.loc[[pd.Timestamp("2023-04-26 10:04:00")]]

                        open     high      low    close  volume
timestamp
2023-04-26 10:04:00  28862.8  28862.8  28862.8  28862.8     0.0

In [53]:
result.compare(data)

                        open              high               low             close             volume
                        self    other     self    other     self    other     self    other      self      other
timestamp
2023-04-26 10:04:00      NaN      NaN      NaN      NaN  28836.7  28862.8  28836.7  28862.8       NaN        NaN
2023-04-26 10:28:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.063772   0.063772
2023-04-26 10:41:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  2.927847   2.927847
2023-04-26 10:47:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.086549   0.086549
2023-04-26 10:48:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.006083   0.006083
2023-04-26 10:49:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.235648   0.235648
2023-04-26 10:50:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  3.428959   3.428959
2023-04-26 10:54:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.345053   0.345053
2023-04-26 11:06:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.005263   0.005263
2023-04-26 11:08:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.169598   0.169598
2023-04-26 11:15:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.038865   0.038865
2023-04-26 11:18:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.083236   0.083236
2023-04-26 11:24:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.014227   0.014227
2023-04-26 11:43:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.044154   0.044154
2023-04-26 12:07:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.477727   0.477727
2023-04-26 12:08:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.000623   0.000623
2023-04-26 12:17:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.532940   0.532940
2023-04-26 12:19:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.142250   0.142250
2023-04-26 12:22:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.448609   0.448609
2023-04-26 12:23:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.009732   0.009732
2023-04-26 12:29:00      NaN      NaN  29746.4  29803.7      NaN      NaN  29746.4  29730.3  5.181890   5.956821
2023-04-26 12:30:00  29746.4  29740.1  29746.4  29740.1  29746.4  29626.4  29746.4  29701.7  0.000000   0.326186
2023-04-26 12:31:00  29746.4  29694.2  29746.4  29694.2  29746.4  29678.1  29746.4  29678.1  0.000000   0.007622
2023-04-26 12:32:00  29746.4  29699.2  29746.4  29891.1  29746.4  29699.2  29746.4  29787.0  0.000000   3.463355
2023-04-26 12:33:00  29746.4  29787.3  29746.4  29984.6  29746.4  29787.3  29746.4  29923.1  0.000000   4.875838
2023-04-26 12:34:00  29746.4  29946.3  29746.4  29991.9  29746.4  29862.1  29746.4  29862.1  0.000000   6.757000
2023-04-26 12:35:00  29746.4  29862.5  29746.4  29913.3  29746.4  29862.5  29746.4  29883.5  0.000000   0.309692
2023-04-26 12:36:00  29746.4  29895.7  29746.4  29895.7  29746.4  29895.7  29746.4  29895.7  0.000000   0.017265
2023-04-26 12:37:00  29746.4  29872.2  29746.4  29872.2  29746.4  29838.3  29746.4  29850.9  0.000000   0.395849
2023-04-26 12:38:00  29746.4  29848.1  29746.4  29859.8  29746.4  29811.9  29746.4  29811.9  0.000000   0.021935
2023-04-26 12:39:00  29746.4  29815.3  29746.4  29835.4  29746.4  29814.0  29746.4  29831.6  0.000000   1.806833
2023-04-26 12:40:00  29746.4  29840.1  29746.4  29848.2  29746.4  29840.1  29746.4  29842.6  0.000000   0.007191
2023-04-26 12:41:00  29746.4  29835.1  29746.4  29848.9  29746.4  29817.4  29746.4  29848.9  0.000000   2.055450
2023-04-26 12:42:00  29746.4  29838.7  29746.4  29838.7  29746.4  29817.5  29746.4  29817.5  0.000000   0.115452
2023-04-26 12:43:00  29746.4  29817.9  29746.4  29817.9  29746.4  29792.1  29746.4  29792.1  0.000000   0.033451
2023-04-26 12:44:00  29746.4  29801.7  29746.4  29815.3  29746.4  29796.1  29746.4  29796.1  0.000000   0.348176
2023-04-26 12:45:00  29746.4  29804.1  29746.4  29853.8  29746.4  29804.1  29746.4  29847.0  0.000000   0.600799
2023-04-26 12:46:00  29746.4  29847.0  29746.4  29847.0  29746.4  29824.7  29746.4  29824.7  0.000000   0.205163
2023-04-26 12:47:00  29746.4  29833.2  29746.4  29833.2  29746.4  29798.4  29746.4  29798.4  0.000000   0.002119
2023-04-26 12:48:00  29746.4  29799.2  29746.4  29799.2  29746.4  29796.1  29746.4  29796.1  0.000000   0.012165
2023-04-26 12:49:00  29746.4  29839.1  29746.4  29839.1  29746.4  29817.5  29746.4  29825.4  0.000000   0.542198
2023-04-26 12:50:00  29746.4  29817.7  29746.4  29834.7  29746.4  29815.9  29746.4  29834.7  0.000000   0.246227
2023-04-26 12:51:00  29746.4  29841.1  29746.4  29841.1  29746.4  29825.5  29746.4  29825.5  0.000000   0.022742
2023-04-26 12:52:00  29746.4  29826.7  29746.4  29826.7  29746.4  29825.3  29746.4  29825.3  0.000000   0.007070
2023-04-26 12:53:00  29746.4  29826.2  29746.4  29829.2  29746.4  29825.1  29746.4  29825.1  0.000000   0.007268
2023-04-26 12:54:00  29746.4  29834.2  29746.4  29854.3  29746.4  29834.2  29746.4  29854.3  0.000000   0.001779
2023-04-26 12:55:00  29746.4  29861.9  29746.4  29911.1  29746.4  29861.9  29746.4  29895.4  0.000000   0.998280
2023-04-26 12:56:00  29746.4  29901.9  29746.4  29901.9  29746.4  29866.3  29746.4  29875.7  0.000000   0.670425
2023-04-26 12:57:00  29746.4  29897.2  29746.4  29945.4  29746.4  29897.2  29746.4  29945.4  0.000000   0.022176
2023-04-26 12:58:00  29746.4  29968.0  29746.4  29993.6  29746.4  29948.4  29746.4  29993.6  0.000000   0.235306
2023-04-26 12:59:00  29746.4  29971.7  29746.4  29971.7  29746.4  29956.3  29746.4  29969.4  0.000000   2.312597
2023-04-26 13:00:00  29746.4  29992.0  29746.4  29998.4  29746.4  29954.8  29746.4  29954.8  0.000000   0.205012
2023-04-26 13:01:00  29746.4  29922.7  29746.4  29922.7  29746.4  29880.1  29746.4  29880.1  0.000000   0.059336
2023-04-26 13:02:00  29746.4  29875.9  29746.4  29875.9  29746.4  29873.5  29746.4  29874.3  0.000000   1.337852
2023-04-26 13:03:00  29746.4  29874.3  29746.4  29874.3  29746.4  29874.3  29746.4  29874.3  0.000000   0.000100
2023-04-26 13:04:00  29746.4  29853.8  29746.4  29853.8  29746.4  29830.9  29746.4  29830.9  0.000000   4.011308
2023-04-26 13:05:00  29746.4  29853.6  29746.4  29866.8  29746.4  29831.9  29746.4  29863.2  0.000000   4.585881
2023-04-26 13:06:00  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6  0.000000   0.005070
2023-04-26 13:07:00  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6       NaN        NaN
2023-04-26 13:08:00  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6  29746.4  29849.6       NaN        NaN
2023-04-26 13:09:00  29746.4  29881.5  29746.4  29881.5  29746.4  29872.9  29746.4  29872.9  0.000000   0.002100
2023-04-26 13:10:00  29746.4  29874.3  29746.4  29882.9  29746.4  29874.3  29746.4  29879.2  0.000000   0.005158
2023-04-26 13:11:00  29746.4  29857.1  29746.4  29857.1  29746.4  29854.2  29746.4  29854.2  0.000000   0.148500
2023-04-26 13:12:00  29746.4  29846.6  29746.4  29857.1  29746.4  29829.8  29746.4  29829.8  0.000000   3.190228
2023-04-26 13:13:00  29746.4  29834.6  29746.4  29843.8  29746.4  29825.0  29746.4  29843.8  0.000000   0.788740
2023-04-26 13:14:00  29746.4  29836.3  29746.4  29839.2  29746.4  29831.9  29746.4  29839.2  0.000000   0.057154
2023-04-26 13:15:00  29746.4  29836.6  29746.4  29849.8  29746.4  29832.3  29746.4  29849.8  0.000000   2.348459
2023-04-26 13:16:00  29746.4  29852.5  29746.4  29852.5  29746.4  29828.3  29746.4  29828.3  0.000000   0.000600
2023-04-26 13:17:00  29746.4  29825.0  29746.4  29825.0  29746.4  29819.6  29746.4  29819.6  0.000000   0.017306
2023-04-26 13:18:00  29746.4  29818.2  29746.4  29818.2  29746.4  29790.0  29746.4  29790.0  0.000000   1.344228
2023-04-26 13:19:00  29746.4  29790.0  29746.4  29790.0  29746.4  29789.9  29746.4  29790.0  0.000000   0.003436
2023-04-26 13:20:00  29746.4  29789.9  29746.4  29832.5  29746.4  29789.9  29746.4  29820.9  0.000000   0.689288
2023-04-26 13:21:00  29746.4  29841.4  29746.4  29841.4  29746.4  29836.2  29746.4  29837.3  0.000000   0.084906
2023-04-26 13:22:00  29746.4  29828.2  29746.4  29828.2  29746.4  29823.1  29746.4  29825.5  0.000000   0.063438
2023-04-26 13:23:00  29746.4  29814.0  29746.4  29815.4  29746.4  29810.2  29746.4  29814.0  0.000000   0.539720
2023-04-26 13:24:00  29746.4  29818.1  29746.4  29818.2  29746.4  29818.1  29746.4  29818.1  0.000000   0.040600
2023-04-26 13:25:00  29746.4  29818.2  29746.4  29818.2  29746.4  29818.1  29746.4  29818.2  0.000000   0.066497
2023-04-26 13:26:00  29746.4  29818.2  29746.4  29818.2  29746.4  29818.2  29746.4  29818.2       NaN        NaN
2023-04-26 13:27:00  29746.4  29818.1  29746.4  29819.0  29746.4  29818.1  29746.4  29819.0  0.000000   0.347460
2023-04-26 13:28:00  29746.4  29818.9  29746.4  29820.0  29746.4  29818.3  29746.4  29820.0  0.000000  21.218659
2023-04-26 13:29:00  29746.4  29820.0  29746.4  29857.6  29746.4  29819.9  29746.4  29851.5  0.000000  10.348989
2023-04-26 13:30:00  29746.4  29826.7  29746.4  29861.7  29746.4  29826.7  29746.4  29858.8  0.000000   1.015127
2023-04-26 13:31:00  29746.4  29855.0  29746.4  29855.0  29746.4  29855.0  29746.4  29855.0  0.000000   0.003000
2023-04-26 13:32:00  29746.4  29855.0  29746.4  29855.0  29746.4  29813.8  29746.4  29813.8  0.000000  20.517252
2023-04-26 13:33:00  29746.4  29818.7  29746.4  29818.7  29746.4  29777.6  29746.4  29777.6  0.000000   0.182583
2023-04-26 13:34:00  29746.4  29785.5  29746.4  29785.5  29746.4  29764.9  29746.4  29764.9  0.000000   0.002037
2023-04-26 13:35:00  29746.4  29773.9  29746.4  29809.2  29746.4  29770.4  29746.4  29809.2  0.000000   8.397663
2023-04-26 13:48:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.158768   0.158768
2023-04-26 13:49:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.008137   0.008137
2023-04-26 13:58:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.376726   0.376726
2023-04-26 14:03:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  1.105617   1.105617
2023-04-26 14:05:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.100816   0.100816
2023-04-26 14:22:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.045815   0.045815
2023-04-26 14:25:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.247926   0.247926
2023-04-26 14:28:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.100943   0.100943
2023-04-26 14:29:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.012011   0.012011
2023-04-26 14:30:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.045658   0.045658
2023-04-26 14:31:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.211152   0.211152
2023-04-26 14:32:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.073594   0.073594
2023-04-26 14:34:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.016130   0.016130
2023-04-26 14:35:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.044028   0.044028
2023-04-26 14:56:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  1.024820   1.024820
2023-04-26 14:58:00      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN  0.000862   0.000862

In [42]:
data.shape

(300, 5)

In [43]:
resample_data.shape

(300, 5)

In [38]:
resample_data.iloc[-10:]

                        open     high      low    close    volume
timestamp
2023-04-26 14:50:00  29647.5  29651.5  29647.5  29651.5  3.251480
2023-04-26 14:51:00  29662.7  29669.3  29662.7  29669.3  0.439908
2023-04-26 14:52:00  29702.3  29714.2  29686.2  29686.2  0.265983
2023-04-26 14:53:00  29688.2  29688.2  29677.8  29677.8  0.043044
2023-04-26 14:54:00  29697.3  29697.3  29686.7  29686.7  0.648219
2023-04-26 14:55:00  29674.3  29679.4  29672.9  29679.4  0.192516
2023-04-26 14:56:00  29688.2  29696.1  29688.2  29691.0  1.024820
2023-04-26 14:57:00  29713.5  29713.5  29685.9  29685.9  0.218909
2023-04-26 14:58:00  29704.3  29706.0  29704.3  29706.0  0.000862
2023-04-26 14:59:00  29706.1  29706.1  29696.1  29696.1  0.867009

In [41]:
data.iloc[-10:]

                        open     high      low    close    volume
timestamp
2023-04-26 14:50:00  29647.5  29651.5  29647.5  29651.5  3.251480
2023-04-26 14:51:00  29662.7  29669.3  29662.7  29669.3  0.439908
2023-04-26 14:52:00  29702.3  29714.2  29686.2  29686.2  0.265983
2023-04-26 14:53:00  29688.2  29688.2  29677.8  29677.8  0.043044
2023-04-26 14:54:00  29697.3  29697.3  29686.7  29686.7  0.648219
2023-04-26 14:55:00  29674.3  29679.4  29672.9  29679.4  0.192516
2023-04-26 14:56:00  29688.2  29696.1  29688.2  29691.0  1.024820
2023-04-26 14:57:00  29713.5  29713.5  29685.9  29685.9  0.218909
2023-04-26 14:58:00  29704.3  29706.0  29704.3  29706.0  0.000862
2023-04-26 14:59:00  29706.1  29706.1  29696.1  29696.1  0.867009

In [40]:
data.drop(data.tail(1).index, inplace=True)