# Introduction
The main purpose of this notebook is to demonstrate how much money could be made from cross-exchange cryptocurrency trades under the following (very large) assumptions:

- capital controls do not restrict trades
- 0 transaction fees
- trades occur instantaneously
- no limit to the amount of capital that we have

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
single = pd.read_csv(r'C:\Users\James Zhang\Desktop\sorrentum\sorrentum_sandbox\projects\SorrIssue2_Cross_exchange_arbitrage_CEX_CEX\single_merged.csv')

In [4]:
single = single.set_index('timestamp')

## Convert this to a MultiIndex Dataframe

In [5]:
def convert_to_multi(df, timestamp):
    # creating most inner column 
    cols_str = ""
    cols = list(df.columns)
    for elem in cols:
        cols_str = "".join([cols_str, elem]) + " "
    len(cols_str.split())

    # creating the middle column (the exchange: okx, binance_spot, binance_future, binanceus)
    exchanges_str = ""
    for col in cols:
        h, s = col.rfind('-') + 1, col.rfind(':')
        exchanges_str += col[h:s] + " "

    # creating outer column (the feature: volume or vwap)
    features_str = "volume " * int(len(cols_str.split())/2) + "vwap " * int(len(cols_str.split())/2)

    new_df = pd.DataFrame(np.array(df), columns=[features_str.split(), exchanges_str.split(), cols_str.split()]) # this line needs to include a new level
    # new_df.set_index(timestamp, inplace=True)

    d = dict(zip(new_df.columns.levels[2], [word[2][word[2].rfind(':') + 1:] for word in new_df.columns]))
    new_df = new_df.rename(columns=d, level=2)
    new_df = new_df.set_index(timestamp['timestamp'].astype('datetime64[ms]'))
    return new_df

In [6]:
df = convert_to_multi(single, pd.DataFrame(single.index))

In [7]:
df.head()

                             volume                                        \
                    binance_futures
                           APE_USDT AVAX_USDT AXS_USDT BAKE_USDT BNB_USDT
timestamp
2019-09-08 17:57:00             NaN       NaN      NaN       NaN      NaN
2019-09-08 17:58:00             NaN       NaN      NaN       NaN      NaN
2019-09-08 17:59:00             NaN       NaN      NaN       NaN      NaN
2019-09-08 18:00:00             NaN       NaN      NaN       NaN      NaN
2019-09-08 18:01:00             NaN       NaN      NaN       NaN      NaN

                                                                   ...  \
                                                                   ...
                    BTC_BUSD BTC_USDT CRV_USDT CTK_USDT DOGE_USDT  ...
timestamp                                                          ...
2019-09-08 17:57:00      NaN    0.001      NaN      NaN       NaN  ...
2019-09-08 17:58:00      NaN    0.000      NaN      NaN       NaN  ...
2019-09-08 17:59:00      NaN    0.001      NaN      NaN       NaN  ...
2019-09-08 18:00:00      NaN    0.000      NaN      NaN       NaN  ...
2019-09-08 18:01:00      NaN    0.000      NaN      NaN       NaN  ...

                        vwap                                          \
                         okx
                    FTM_USDT GMT_USDT LINK_USDT MATIC_USDT NEAR_USDT
timestamp
2019-09-08 17:57:00      NaN      NaN       NaN        NaN       NaN
2019-09-08 17:58:00      NaN      NaN       NaN        NaN       NaN
2019-09-08 17:59:00      NaN      NaN       NaN        NaN       NaN
2019-09-08 18:00:00      NaN      NaN       NaN        NaN       NaN
2019-09-08 18:01:00      NaN      NaN       NaN        NaN       NaN



                    SAND_USDT SOL_USDT STORJ_USDT WAVES_USDT XRP_USDT
timestamp
2019-09-08 17:57:00       NaN      NaN        NaN        NaN      NaN
2019-09-08 17:58:00       NaN      NaN        NaN        NaN      NaN
2019-09-08 17:59:00       NaN      NaN        NaN        NaN      NaN
2019-09-08 18:00:00       NaN      NaN        NaN        NaN      NaN
2019-09-08 18:01:00       NaN      NaN        NaN        NaN      NaN

[5 rows x 180 columns]

The above is the correct multiindex dataframe, and the process can be seen in the file `single_df.ipynb`

# Instantaneous Arbitrage Approximation

For each coin, at any time (we can resample later), calculate maximum price dislocation across any exchange. We will buy the lower one and sell the higher one at the maximum volume (which is the lesser of the two volumes). This will be the amount of money we could make at that exact time (second, two seconds, etc). Summing across all time in our dataset, this yields the total amount of money we could make for each asset.

Let us first obtain lists of all assets and all exchanges that we have available in our dataset

In [8]:
coins = list(df.columns.levels[2])
exchanges = list(df.columns.levels[1])
exchanges

['binance_futures', 'binance_spot', 'binanceus', 'okx']

# Manipulate our MultiIndex Dataframe

Note that we can easily swap the levels of our multiindex dataframe using the `swaplevel()` function.

Observe that `df2` has the following format:
- The outer level represents the security (27 coins on different exchanges)
- The middle level represnts the feature (volume or vwap)
- The inner level represents the exchange (binance_futures, binance_spots, binanceus, okx)

In [9]:
temp = df.swaplevel(0, 2, 1).sort_index(axis=1)
df2 = temp.swaplevel(1, 2, 1).sort_index(axis=1)
df2

                           APE_USDT                             \
                             volume
                    binance_futures binance_spot binanceus okx
timestamp
2019-09-08 17:57:00             NaN          NaN       NaN NaN
2019-09-08 17:58:00             NaN          NaN       NaN NaN
2019-09-08 17:59:00             NaN          NaN       NaN NaN
2019-09-08 18:00:00             NaN          NaN       NaN NaN
2019-09-08 18:01:00             NaN          NaN       NaN NaN
...                             ...          ...       ...  ..
2023-01-31 23:55:00             NaN       154.52       0.0 NaN
2023-01-31 23:56:00             NaN       264.84       0.0 NaN
2023-01-31 23:57:00             NaN       287.58       0.0 NaN
2023-01-31 23:58:00             NaN       887.80       0.0 NaN
2023-01-31 23:59:00             NaN       404.81       0.0 NaN

                                                                \
                               vwap
                    binance_futures binance_spot binanceus okx
timestamp
2019-09-08 17:57:00             NaN          NaN       NaN NaN
2019-09-08 17:58:00             NaN          NaN       NaN NaN
2019-09-08 17:59:00             NaN          NaN       NaN NaN
2019-09-08 18:00:00             NaN          NaN       NaN NaN
2019-09-08 18:01:00             NaN          NaN       NaN NaN
...                             ...          ...       ...  ..
2023-01-31 23:55:00             NaN     9.411818   9.78506 NaN
2023-01-31 23:56:00             NaN     9.411818   9.78506 NaN
2023-01-31 23:57:00             NaN     9.411818   9.78506 NaN
2023-01-31 23:58:00             NaN     9.411818   9.78506 NaN
2023-01-31 23:59:00             NaN     9.411817   9.78506 NaN

                          AVAX_USDT               ...   WAVES_USDT      \
                             volume               ...         vwap
                    binance_futures binance_spot  ... binance_spot okx
timestamp                                         ...
2019-09-08 17:57:00             NaN          NaN  ...          NaN NaN
2019-09-08 17:58:00             NaN          NaN  ...          NaN NaN
2019-09-08 17:59:00             NaN          NaN  ...          NaN NaN
2019-09-08 18:00:00             NaN          NaN  ...          NaN NaN
2019-09-08 18:01:00             NaN          NaN  ...          NaN NaN
...                             ...          ...  ...          ...  ..
2023-01-31 23:55:00             NaN       599.82  ...    10.713475 NaN
2023-01-31 23:56:00             NaN       584.41  ...    10.713472 NaN
2023-01-31 23:57:00             NaN      1333.10  ...    10.713472 NaN
2023-01-31 23:58:00             NaN       642.07  ...    10.713444 NaN
2023-01-31 23:59:00             NaN       304.73  ...    10.713440 NaN

                           XRP_USDT                             \
                             volume
                    binance_futures binance_spot binanceus okx
timestamp
2019-09-08 17:57:00             NaN          NaN       NaN NaN
2019-09-08 17:58:00             NaN          NaN       NaN NaN
2019-09-08 17:59:00             NaN          NaN       NaN NaN
2019-09-08 18:00:00             NaN          NaN       NaN NaN
2019-09-08 18:01:00             NaN          NaN       NaN NaN
...                             ...          ...       ...  ..
2023-01-31 23:55:00             NaN     135505.0   11914.6 NaN
2023-01-31 23:56:00             NaN     177663.0   11914.6 NaN
2023-01-31 23:57:00             NaN     197800.0   11914.6 NaN
2023-01-31 23:58:00             NaN     159875.0   11914.6 NaN
2023-01-31 23:59:00             NaN      73224.0   11914.6 NaN


                               vwap
                    binance_futures binance_spot binanceus okx
timestamp
2019-09-08 17:57:00             NaN          NaN       NaN NaN
2019-09-08 17:58:00             NaN          NaN       NaN NaN
2019-09-08 17:59:00             NaN          NaN       NaN NaN
2019-09-08 18:00:00             NaN          NaN       NaN NaN
2019-09-08 18:01:00             NaN          NaN       NaN NaN
...                             ...          ...       ...  ..
2023-01-31 23:55:00             NaN     0.735969  0.275762 NaN
2023-01-31 23:56:00             NaN     0.735969  0.275762 NaN
2023-01-31 23:57:00             NaN     0.735969  0.275762 NaN
2023-01-31 23:58:00             NaN     0.735969  0.275762 NaN
2023-01-31 23:59:00             NaN     0.735969  0.275762 NaN

[1787402 rows x 180 columns]

NaN values simply mean that the crypto coin was not tradeable on some exchange at that time.

Let's develop this algorithm for 1 coin for now, say Bitcoin. Now let us denote $\mu =$ instance profit.

$$\mu = \min(volume_i, volume_j) * (price_j - price_i)$$

                  price_i        price_j          i                j              volume[i]     volume[j]      instance_profit 
        9:30        10              8         binanceus     binance_futures           2            5              
        9:31        12              8            okx        binance_futures           3            7

where $i, j$ are the same coin but on different exchanges. They represent different indices in the dataframe.

Let $price_i$ be the minimum price of some arbitrary coin and let $price_j$ be the maximum price of the same arbirary coin at some time $t$

First, let us get all of our needed columns so we can achieve all calculations vectorially and therefore exponentially faster.

## DataFrame Creation

In [10]:
btc = pd.DataFrame(df2.index)
btc = btc.set_index('timestamp')
btc['price_i'] = df2['BTC_USDT']['vwap'][exchanges].min(axis=1)
btc['price_j'] = df2['BTC_USDT']['vwap'][exchanges].max(axis=1)
btc['i'] = df2['BTC_USDT']['vwap'][exchanges].idxmin(axis=1)
btc['j'] = df2['BTC_USDT']['vwap'][exchanges].idxmax(axis=1)
btc['binance_futures'] = df2['BTC_USDT']['volume']['binance_futures']
btc['binance_spot'] = df2['BTC_USDT']['volume']['binance_spot']
btc['binanceus'] = df2['BTC_USDT']['volume']['binanceus']
btc['okx'] = df2['BTC_USDT']['volume']['okx']
btc

,price_i,price_j,i,j,binance_futures,binance_spot,binanceus,okx
timestamp,,,,,,,,
2019-09-08 17:57:00,10000.000000,10000.000000,binance_futures,binance_futures,0.001,NaN,NaN,NaN
2019-09-08 17:58:00,10000.000000,10000.000000,binance_futures,binance_futures,0.000,NaN,NaN,NaN
2019-09-08 17:59:00,10000.000000,10000.000000,binance_futures,binance_futures,0.001,NaN,NaN,NaN
2019-09-08 18:00:00,10000.000000,10000.000000,binance_futures,binance_futures,0.000,NaN,NaN,NaN
2019-09-08 18:01:00,10000.000000,10000.000000,binance_futures,binance_futures,0.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-01-31 23:55:00,27207.485001,28969.897150,binanceus,binance_spot,NaN,132.98878,0.665210,NaN
2023-01-31 23:56:00,27207.471198,28969.884672,binanceus,binance_spot,NaN,186.18800,2.498794,NaN
2023-01-31 23:57:00,27207.461297,28969.877264,binanceus,binance_spot,NaN,110.49868,1.791509,NaN
2023-01-31 23:58:00,27207.455428,28969.866312,binanceus,binance_spot,NaN,163.33895,1.062466,NaN
2023-01-31 23:59:00,27207.454079,28969.857268,binanceus,binance_spot,NaN,134.69127,0.243654,NaN

## Optimizing Calculations

Let's see how many of these rows are even useful (ie. $i \neq j \implies \ \exists$ a price dislocation)

In [11]:
btc2 = btc.loc[btc['i'] != btc['j']] # only keep times where the the lowest price != maximum price
display(btc2)
print("Percentage of minutes where there exists some price dislocation for Bitcoin", len(btc2)/len(df2))

,price_i,price_j,i,j,binance_futures,binance_spot,binanceus,okx
timestamp,,,,,,,,
2021-01-01 00:00:00,11072.608906,28943.335000,binance_futures,binanceus,143.661,27.457032,0.138756,NaN
2021-01-01 00:01:00,11072.650364,28986.477367,binance_futures,binanceus,256.280,58.477501,1.543793,NaN
2021-01-01 00:02:00,11072.666971,28986.958822,binance_futures,binanceus,102.675,42.470329,0.094843,NaN
2021-01-01 00:03:00,11072.680837,28986.846904,binance_futures,binanceus,85.762,30.360677,0.042083,NaN
2021-01-01 00:04:00,11072.692196,28986.856765,binance_futures,binanceus,70.246,24.124339,0.019755,NaN
...,...,...,...,...,...,...,...,...
2023-01-31 23:55:00,27207.485001,28969.897150,binanceus,binance_spot,NaN,132.988780,0.665210,NaN
2023-01-31 23:56:00,27207.471198,28969.884672,binanceus,binance_spot,NaN,186.188000,2.498794,NaN
2023-01-31 23:57:00,27207.461297,28969.877264,binanceus,binance_spot,NaN,110.498680,1.791509,NaN
2023-01-31 23:58:00,27207.455428,28969.866312,binanceus,binance_spot,NaN,163.338950,1.062466,NaN
2023-01-31 23:59:00,27207.454079,28969.857268,binanceus,binance_spot,NaN,134.691270,0.243654,NaN

Percentage of minutes where there exists some price dislocation for Bitcoin 0.6130909554761603

## Calculating the maximum amount of tradeable volume

We can achieve our goal by grouping the dataframe into smaller dataframes by $i, j$ pairs such that we can perform only vectorial operations.

In [12]:
grouped = btc2.groupby(['i', 'j'])
dfs = [grouped.get_group(x) for x in grouped.groups]
dfs[0]

,price_i,price_j,i,j,binance_futures,binance_spot,binanceus,okx
timestamp,,,,,,,,
2021-01-01 00:13:00,11073.001476,28888.692690,binance_futures,binance_spot,833.321,104.225054,4.481732,NaN
2021-01-01 00:14:00,11073.096066,28858.591061,binance_futures,binance_spot,593.694,156.587294,0.121057,NaN
2021-01-01 00:15:00,11073.135287,28852.909088,binance_futures,binance_spot,245.781,45.695385,0.131859,NaN
2021-01-01 00:16:00,11073.177407,28851.097380,binance_futures,binance_spot,263.391,28.328974,0.638687,NaN
2021-01-01 00:17:00,11073.208158,28849.253612,binance_futures,binance_spot,192.205,34.035514,0.336274,NaN
...,...,...,...,...,...,...,...,...
2022-11-29 14:25:00,28501.413711,30908.325982,binance_futures,binance_spot,329.912,286.404550,1.916272,NaN
2022-11-29 14:26:00,28501.409425,30908.296342,binance_futures,binance_spot,150.774,148.803240,0.640509,NaN
2022-11-29 14:27:00,28501.398588,30908.240427,binance_futures,binance_spot,380.892,280.566640,2.130832,NaN
2022-11-29 14:28:00,28501.394465,30908.206947,binance_futures,binance_spot,144.966,168.066270,0.106053,NaN
2022-11-29 14:29:00,28501.389340,30908.164116,binance_futures,binance_spot,180.272,215.103900,0.325818,NaN

Perfom the calculation for the minimum of the $i, j$ volumes for each dataframe in the list of daataframes.

In [13]:
for df in dfs:
    exchange1, exchange2 = df['i'].unique()[0], df['j'].unique()[0]
    df['min_volume'] = df[[exchange1, exchange2]].min(axis=1)
dfs[1] # example df grouped by i, j

,price_i,price_j,i,j,binance_futures,binance_spot,binanceus,okx,min_volume
timestamp,,,,,,,,,
2021-01-01 00:00:00,11072.608906,28943.335000,binance_futures,binanceus,143.661,27.457032,0.138756,NaN,0.138756
2021-01-01 00:01:00,11072.650364,28986.477367,binance_futures,binanceus,256.280,58.477501,1.543793,NaN,1.543793
2021-01-01 00:02:00,11072.666971,28986.958822,binance_futures,binanceus,102.675,42.470329,0.094843,NaN,0.094843
2021-01-01 00:03:00,11072.680837,28986.846904,binance_futures,binanceus,85.762,30.360677,0.042083,NaN,0.042083
2021-01-01 00:04:00,11072.692196,28986.856765,binance_futures,binanceus,70.246,24.124339,0.019755,NaN,0.019755
...,...,...,...,...,...,...,...,...,...
2021-09-29 08:55:00,27064.881594,42274.588369,binance_futures,binanceus,65.152,NaN,0.000000,NaN,0.000000
2021-09-29 08:56:00,27064.884571,42274.588369,binance_futures,binanceus,44.958,NaN,0.000000,NaN,0.000000
2021-09-29 08:57:00,27064.888731,42274.588369,binance_futures,binanceus,62.860,NaN,0.000000,NaN,0.000000
2021-09-29 08:58:00,27064.894976,42274.588388,binance_futures,binanceus,94.204,NaN,0.031174,NaN,0.031174
2021-09-29 08:59:00,27064.899934,42274.588388,binance_futures,binanceus,74.727,NaN,0.000000,NaN,0.000000

Concatenate the dataframes and then sort by the timestamp.

In [14]:
final_btc = pd.concat(dfs)
final_btc = final_btc.sort_index()
final_btc = final_btc.drop(columns=['binance_futures', 'binance_spot', 'binanceus', 'okx'])
final_btc

,price_i,price_j,i,j,min_volume
timestamp,,,,,
2021-01-01 00:00:00,11072.608906,28943.335000,binance_futures,binanceus,0.138756
2021-01-01 00:01:00,11072.650364,28986.477367,binance_futures,binanceus,1.543793
2021-01-01 00:02:00,11072.666971,28986.958822,binance_futures,binanceus,0.094843
2021-01-01 00:03:00,11072.680837,28986.846904,binance_futures,binanceus,0.042083
2021-01-01 00:04:00,11072.692196,28986.856765,binance_futures,binanceus,0.019755
...,...,...,...,...,...
2023-01-31 23:55:00,27207.485001,28969.897150,binanceus,binance_spot,0.665210
2023-01-31 23:56:00,27207.471198,28969.884672,binanceus,binance_spot,2.498794
2023-01-31 23:57:00,27207.461297,28969.877264,binanceus,binance_spot,1.791509
2023-01-31 23:58:00,27207.455428,28969.866312,binanceus,binance_spot,1.062466
2023-01-31 23:59:00,27207.454079,28969.857268,binanceus,binance_spot,0.243654

Finally we have obtained a complete df our desired format, and so now we can easily recompute the instant profits as the following:
$$\mu = \min(volume_i, volume_j) * (price_j - price_i)$$

In [15]:
final_btc['instant_profit'] = final_btc['min_volume'] * abs(final_btc['price_i'] - final_btc['price_j'])
final_btc

,price_i,price_j,i,j,min_volume,instant_profit
timestamp,,,,,,
2021-01-01 00:00:00,11072.608906,28943.335000,binance_futures,binanceus,0.138756,2479.670470
2021-01-01 00:01:00,11072.650364,28986.477367,binance_futures,binanceus,1.543793,27655.240731
2021-01-01 00:02:00,11072.666971,28986.958822,binance_futures,binanceus,0.094843,1699.045182
2021-01-01 00:03:00,11072.680837,28986.846904,binance_futures,binanceus,0.042083,753.881851
2021-01-01 00:04:00,11072.692196,28986.856765,binance_futures,binanceus,0.019755,353.894321
...,...,...,...,...,...,...
2023-01-31 23:55:00,27207.485001,28969.897150,binanceus,binance_spot,0.665210,1172.374186
2023-01-31 23:56:00,27207.471198,28969.884672,binanceus,binance_spot,2.498794,4403.908214
2023-01-31 23:57:00,27207.461297,28969.877264,binanceus,binance_spot,1.791509,3157.384066
2023-01-31 23:58:00,27207.455428,28969.866312,binanceus,binance_spot,1.062466,1872.501642
2023-01-31 23:59:00,27207.454079,28969.857268,binanceus,binance_spot,0.243654,429.416587

In [18]:
final_btc['instant_profit'].sum()

738046599255.8605

# Extending The Algorithm For All Coins

For now, I think we can represent this as a hashmap of dataframes such that the key is the coin and the value is the dataframe that we described above.

In [21]:
def calculate_immediate_arb(coin_df):
    
    # get all necessary columns for vectorial operations
    coin = pd.DataFrame(coin_df.index)
    coin = coin.set_index('timestamp')
    exchange_list = list(coin_df['vwap'].columns)
    coin['price_i'] = coin_df['vwap'][exchange_list].min(axis=1)
    coin['price_j'] = coin_df['vwap'][exchange_list].max(axis=1)
    coin['i'] = coin_df['vwap'][exchange_list].idxmin(axis=1)
    coin['j'] = coin_df['vwap'][exchange_list].idxmax(axis=1)
    for exchange in exchange_list:
        coin[exchange] = coin_df['volume'][exchange]

    # only consider rows where there exists a price dislocation and i != j != NaN
    coin2 = coin.loc[coin['i'] != coin['j']]
    coin2 = coin2.dropna(subset=['i','j'])

    # group by i, j pairs
    grouped = coin2.groupby(['i', 'j'])
    dfs = [grouped.get_group(x) for x in grouped.groups]
    
    # compute the min_volume column for each groupedcoin_df 
    for x in dfs:
        exchange1, exchange2 = x['i'].unique()[0], x['j'].unique()[0]
        x['min_volume'] = x[[exchange1, exchange2]].min(axis=1)
    
    # concatenate them, sort by tiemstamp, and drop unnecessary columns
    final_coin = pd.concat(dfs)
    final_coin = final_coin.sort_index()
    final_coin = final_coin.drop(columns=exchange_list)
    final_coin['instant_profit'] = final_coin['min_volume'] * abs(final_coin['price_i'] - final_coin['price_j'])
    return final_coin

In [22]:
immediate_arb = {}
for coin in coins:
    immediate_arb[coin] = calculate_immediate_arb(df2[coin])

In [23]:
immediate_arb['BTC_USDT']['instant_profit'].sum() #verifying that the helper function worked as planned

738046599255.8605

In [24]:
for x in immediate_arb.keys():
    print(x, immediate_arb[x]['instant_profit'].sum())

APE_USDT 4991845758.674584
AVAX_USDT 11275493469.144714
AXS_USDT 1225349355.540975
BAKE_USDT 9642116194.538513
BNB_USDT 17364479406.042744
BTC_BUSD 3079756446.5817547
BTC_USDT 738046599255.8605
CRV_USDT 3902769654.6978655
CTK_USDT 210610235.68976903
DOGE_USDT 1436584966.124724
DOT_USDT 30039858189.641598
DYDX_USDT 8220432101.967292
ETH_BUSD 41637763666.87361
ETH_USDT 56117586788.080574
FTM_USDT 4720861381.7216835
GMT_USDT 27080186281.01134
LINK_USDT 34738247039.00321
MATIC_USDT 8407344871.070855
NEAR_USDT 2498253300.420919
OGN_USDT 2207017653.139457
RUNE_USDT 9118023808.995111
SAND_USDT 5402241293.819528
SOL_USDT 903870868.9737358
STORJ_USDT 1701271427.4727812
UNFI_USDT 2345533831.654424
WAVES_USDT 8316261091.101053
XRP_USDT 6987253885.802785