# Imports

In [ ]:
%load_ext autoreload
%autoreload 2

import ib_insync

print(ib_insync.__all__)

import helpers.hdbg as hdbg
import helpers.hprint as hprint
import im.ib.data.extract.gateway.utils as imidegaut

# Connect

In [ ]:
ib = imidegaut.ib_connect(client_id=100, is_notebook=True)

# Historical data

In [ ]:
import logging

# hdbg.init_logger(verbosity=logging.DEBUG)
hdbg.init_logger(verbosity=logging.INFO)

In [ ]:
# start_ts = pd.to_datetime(pd.Timestamp("2018-02-01 06:00:00").tz_localize(tz="America/New_York"))
# import datetime

# #datetime.datetime.combine(start_ts, datetime.time())

In [ ]:
# dt = start_ts.to_pydatetime()
# print(dt)

# #datetime.datetime.combine(dt, datetime.time()).tz_localize(tz="America/New_York")
# dt.replace(hour=0, minute=0, second=0)

In [ ]:
start_ts = pd.Timestamp("2019-05-28 15:00").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2019-05-29 15:00").tz_localize(tz="America/New_York")
barSizeSetting = "1 hour"

bars = imidegaut.get_data(
    ib, contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)

In [ ]:
start_ts = pd.Timestamp("2019-05-28 15:00").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2019-05-29 15:00").tz_localize(tz="America/New_York")
barSizeSetting = "1 hour"

bars = imidegaut.get_data(
    ib, contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)

In [ ]:
start_ts = pd.Timestamp("2019-05-27").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2019-05-28").tz_localize(tz="America/New_York")
barSizeSetting = "1 hour"

bars = imidegaut.get_data(
    ib, contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)

In [ ]:
start_ts2 = start_ts - pd.DateOffset(days=1)
end_ts2 = end_ts + pd.DateOffset(days=1)
barSizeSetting = "1 hour"

bars2 = imidegaut.get_data(
    ib, contract, start_ts2, end_ts2, barSizeSetting, whatToShow, useRTH
)

In [ ]:
set(bars.index).issubset(bars2.index)

In [ ]:
start_ts = pd.Timestamp("2019-04-01 15:00").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2019-05-01 15:00").tz_localize(tz="America/New_York")

df = imidegaut.get_historical_data2(
    ib, contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)

In [ ]:
import pandas as pd

contract = ib_insync.ContFuture("ES", "GLOBEX", "USD")
whatToShow = "TRADES"
durationStr = "2 D"
barSizeSetting = "1 min"
useRTH = False
# useRTH = True

# start_ts = pd.to_datetime(pd.Timestamp("2018-02-01"))
# Saturday June 1, 2019
end_ts = pd.to_datetime(
    pd.Timestamp("2019-05-30 00:00:00") + pd.DateOffset(days=1)
)
# end_ts = pd.to_datetime(pd.Timestamp("2019-05-30 18:00:00"))
# print(start_ts, end_ts)
print("end_ts=", end_ts)

bars = imidegaut.req_historical_data(
    ib, contract, end_ts, durationStr, barSizeSetting, whatToShow, useRTH
)

print(
    "durationStr=%s barSizeSetting=%s useRTH=%s"
    % (durationStr, barSizeSetting, useRTH)
)
print("bars=[%s, %s]" % (bars.index[0], bars.index[-1]))
print("diff=", bars.index[-1] - bars.index[0])

bars["close"].plot()

In [ ]:
pd.date_range(start="2019-04-01 00:00:00", end="2019-05-01 00:00:00", freq="2D")

hello

In [ ]:
(bars.index[-1] - bars.index[0])

In [ ]:
import pandas as pd

In [ ]:
# 1 = Live
# 2 = Frozen
# 3 = Delayed
# 4 = Delayed frozen
ib.reqMarketDataType(4)

if False:
    contract = ib_insync.Stock("TSLA", "SMART", "USD")
    whatToShow = "TRADES"
elif False:
    contract = ib_insync.Future("ES", "202109", "GLOBEX")
    whatToShow = "TRADES"
elif True:
    contract = ib_insync.ContFuture("ES", "GLOBEX", "USD")
    whatToShow = "TRADES"
else:
    contract = ib_insync.Forex("EURUSD")
    whatToShow = "MIDPOINT"

if False:
    durationStr = "1 Y"
    barSizeSetting = "1 day"
    # barSizeSetting='1 hour'
else:
    durationStr = "1 D"
    barSizeSetting = "1 hour"

print("contract=", contract)
print("whatToShow=", whatToShow)
print("durationStr=", durationStr)
print("barSizeSetting=", barSizeSetting)

# endDateTime = pd.Timestamp("2020-12-11 18:00:00")
endDateTime = pd.Timestamp("2020-12-13 18:00:00")
# endDateTime = ""

# Get the datetime of earliest available historical data for the contract.
start_ts = ib.reqHeadTimeStamp(contract, whatToShow=whatToShow, useRTH=True)
print("start_ts=", start_ts)
bars = ib.reqHistoricalData(
    contract,
    endDateTime=endDateTime,
    durationStr=durationStr,
    barSizeSetting=barSizeSetting,
    whatToShow=whatToShow,
    useRTH=True,
    formatDate=1,
)
print("len(bars)=", len(bars))
print(ib_insync.util.df(bars))

In [ ]:
ib_insync.IB.RaiseRequestErrors = True

In [ ]:
bars

In [ ]:
hdbg.shutup_chatty_modules(verbose=True)

In [ ]:
import pandas as pd

contract = ib_insync.ContFuture("ES", "GLOBEX", "USD")
whatToShow = "TRADES"
durationStr = "2 D"
barSizeSetting = "1 min"
useRTH = False

start_ts = pd.Timestamp("2018-01-28 15:00").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2018-02-28 15:00").tz_localize(tz="America/New_York")

tasks = imidegaut.get_historical_data_workload(
    contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)
print(len(tasks))

imidegaut.get_historical_data2(ib, tasks)

##

In [2]:
%load_ext autoreload
%autoreload 2

import ib_insync

print(ib_insync.__all__)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
['util', 'Event', 'SoftDollarTier', 'PriceIncrement', 'Execution', 'CommissionReport', 'BarList', 'BarDataList', 'RealTimeBarList', 'BarData', 'RealTimeBar', 'HistogramData', 'NewsProvider', 'DepthMktDataDescription', 'ScannerSubscription', 'ScanDataList', 'FundamentalRatios', 'ExecutionFilter', 'PnL', 'PnLSingle', 'AccountValue', 'TickData', 'TickByTickAllLast', 'TickByTickBidAsk', 'TickByTickMidPoint', 'HistoricalTick', 'HistoricalTickBidAsk', 'HistoricalTickLast', 'TickAttrib', 'TickAttribBidAsk', 'TickAttribLast', 'MktDepthData', 'DOMLevel', 'TradeLogEntry', 'FamilyCode', 'SmartComponent', 'PortfolioItem', 'Position', 'Fill', 'OptionComputation', 'OptionChain', 'Dividends', 'NewsArticle', 'HistoricalNews', 'NewsTick', 'NewsBulletin', 'ConnectionStats', 'Contract', 'Stock', 'Option', 'Future', 'ContFuture', 'Forex', 'Index', 'CFD', 'Commodity', 'Bond', 'FuturesOption', 'MutualFund', 'Warrant', 'Bag', 'TagValue', 'ComboLeg', 'DeltaNeutralContract', 'ContractDetails', 'ContractDescription', 'ScanData', 'Trade', 'Order', 'OrderStatus', 'OrderState', 'OrderComboLeg', 'LimitOrder', 'MarketOrder', 'StopOrder', 'StopLimitOrder', 'BracketOrder', 'OrderCondition', 'ExecutionCondition', 'MarginCondition', 'TimeCondition', 'PriceCondition', 'PercentChangeCondition', 'VolumeCondition', 'Ticker', 'IB', 'Client', 'RequestError', 'Wrapper', 'FlexReport', 'FlexError', 'IBC', 'IBController', 'Watchdog']

In [3]:
import logging

import helpers.hdbg as hdbg
import helpers.hprint as hprint
import im.ib.data.extract.gateway.utils as imidegaut

hdbg.init_logger(verbosity=logging.DEBUG)
# hdbg.init_logger(verbosity=logging.INFO)

import pandas as pd

hdbg.shutup_chatty_modules(verbose=False)

WARNING: Running in Jupyter
Shutting up 34 modules

In [4]:
ib = imidegaut.ib_connect(8, is_notebook=True)

Connected!

In [5]:
# #start_ts = pd.Timestamp("2018-01-28 15:00").tz_localize(tz="America/New_York")
# start_ts = pd.Timestamp("2018-01-28 18:00").tz_localize(tz="America/New_York")
# end_ts = pd.Timestamp("2018-02-28 15:00").tz_localize(tz="America/New_York")

# dates = []
# if (start_ts.hour, start_ts.minute) > (18, 0):
#     dates = [start_ts]
#     # Align start_ts to 18:00.
#     start_ts = start_ts.replace(hour=18, minute=18)
# elif (start_ts.hour, start_ts.minute) < (18, 0):
#     dates = [start_ts]
#     # Align start_ts to 18:00 of the day before.
#     start_ts = start_ts.replace(hour=18, minute=18)
#     start_ts -= pd.DateOffset(days=1)

# hdbg.dassert_eq((start_ts.hour, start_ts.minute), (18, 0))
# dates += pd.date_range(start=start_ts, end=end_ts, freq='2D').tolist()
# print(dates)

In [6]:
# import datetime
# start_ts = pd.Timestamp(datetime.datetime(2017,6,25,0,31,53,993000))
# print(start_ts)

# start_ts.round('1s')

In [8]:
contract = ib_insync.ContFuture("ES", "GLOBEX", "USD")
whatToShow = "TRADES"
durationStr = "2 D"
barSizeSetting = "1 hour"
useRTH = False

start_ts = pd.Timestamp("2018-01-28 15:00").tz_localize(tz="America/New_York")
end_ts = pd.Timestamp("2018-02-01 15:00").tz_localize(tz="America/New_York")

tasks = imidegaut.get_historical_data_workload(
    ib, contract, start_ts, end_ts, barSizeSetting, whatToShow, useRTH
)

df = imidegaut.get_historical_data2(tasks)

start_ts='2018-01-28 15:00:00-05:00' end_ts='2018-02-01 15:00:00-05:00'
ts='2018-01-28 15:00:00-05:00'
-> ts='2018-01-29 18:00:00-05:00' dates=[Timestamp('2018-01-28 15:00:00-0500', tz='America/New_York')]
ts='2018-02-01 15:00:00-05:00'
-> ts='2018-01-31 18:00:00-05:00' dates=[Timestamp('2018-02-01 15:00:00-0500', tz='America/New_York')]
start_ts_tmp='2018-01-29 18:00:00-05:00' end_ts_tmp='2018-01-31 18:00:00-05:00'
-> dates=[Timestamp('2018-01-28 15:00:00-0500', tz='America/New_York'), Timestamp('2018-01-29 18:00:00-0500', tz='America/New_York', freq='2D'), Timestamp('2018-01-31 18:00:00-0500', tz='America/New_York', freq='2D'), Timestamp('2018-02-01 15:00:00-0500', tz='America/New_York')]

  0%|          | 0/3 [00:00<?, ?it/s]

task=(<IB connected to 127.0.0.1:7497 clientId=8>, ContFuture(symbol='ES', exchange='GLOBEX', localSymbol='USD'), Timestamp('2018-01-29 18:00:00-0500', tz='America/New_York', freq='2D'), '2 D', '1 hour', 'TRADES', False)
df=len=4 [2018-01-29 14:00:00-05:00, 2018-01-29 16:30:00-05:00]
task=(<IB connected to 127.0.0.1:7497 clientId=8>, ContFuture(symbol='ES', exchange='GLOBEX', localSymbol='USD'), Timestamp('2018-01-31 18:00:00-0500', tz='America/New_York', freq='2D'), '2 D', '1 hour', 'TRADES', False)
df=len=26 [2018-01-29 22:00:00-05:00, 2018-01-31 16:30:00-05:00]
task=(<IB connected to 127.0.0.1:7497 clientId=8>, ContFuture(symbol='ES', exchange='GLOBEX', localSymbol='USD'), Timestamp('2018-02-01 15:00:00-0500', tz='America/New_York'), '2 D', '1 hour', 'TRADES', False)
df=len=14 [2018-01-31 12:00:00-05:00, 2018-02-01 14:00:00-05:00]

In [9]:
df

,open,high,low,close,volume,average,barCount
date,,,,,,,
2018-01-29 14:00:00-05:00,2879.00,2879.00,2879.00,2879.00,1,2879.00,1
2018-01-29 15:00:00-05:00,2877.00,2877.00,2877.00,2877.00,1,2877.00,1
2018-01-29 16:00:00-05:00,2877.00,2877.00,2877.00,2877.00,0,2877.00,0
2018-01-29 16:30:00-05:00,2877.00,2877.00,2877.00,2877.00,0,2877.00,0
2018-01-29 22:00:00-05:00,2859.25,2859.25,2859.25,2859.25,2,2859.25,2
2018-01-29 23:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 00:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 01:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 02:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 03:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 04:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 05:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 06:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 07:00:00-05:00,2859.25,2859.25,2859.25,2859.25,1,2859.25,1
2018-01-30 08:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 09:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 10:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 11:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 12:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 13:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 14:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 15:00:00-05:00,2859.25,2859.25,2859.25,2859.25,0,2859.25,0
2018-01-30 16:00:00-05:00,2845.00,2845.00,2845.00,2845.00,1,2845.00,1
2018-01-30 16:30:00-05:00,2845.00,2845.00,2845.00,2845.00,0,2845.00,0
2018-01-31 12:00:00-05:00,2846.50,2846.50,2846.50,2846.50,2,2846.50,1
2018-01-31 13:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 14:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 15:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 16:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 16:30:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 12:00:00-05:00,2846.50,2846.50,2846.50,2846.50,2,2846.50,1
2018-01-31 13:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 14:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 15:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 16:00:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-01-31 16:30:00-05:00,2846.50,2846.50,2846.50,2846.50,0,2846.50,0
2018-02-01 07:00:00-05:00,2847.25,2847.25,2847.25,2847.25,1,2847.25,1
2018-02-01 08:00:00-05:00,2844.75,2844.75,2844.75,2844.75,1,2844.75,1
2018-02-01 09:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0
2018-02-01 10:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0
2018-02-01 11:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0
2018-02-01 12:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0
2018-02-01 13:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0
2018-02-01 14:00:00-05:00,2844.75,2844.75,2844.75,2844.75,0,2844.75,0

In [10]:
df2 = imidegaut.get_historical_data_with_IB_loop(
    ib,
    contract,
    start_ts,
    end_ts,
    durationStr,
    barSizeSetting,
    whatToShow,
    useRTH,
)

start_ts='2018-01-28 15:00:00-05:00' end_ts='2018-02-01 15:00:00-05:00'
Requesting data for curr_ts='2018-02-01 15:00:00-05:00'
df=len=14 [2018-01-31 12:00:00-05:00, 2018-02-01 14:00:00-05:00]
df=len=14 [2018-01-31 12:00:00-05:00, 2018-02-01 14:00:00-05:00]
                             open    high     low   close  volume  average  \
date
2018-01-31 12:00:00-05:00  2846.5  2846.5  2846.5  2846.5       2   2846.5
2018-01-31 13:00:00-05:00  2846.5  2846.5  2846.5  2846.5       0   2846.5
2018-01-31 14:00:00-05:00  2846.5  2846.5  2846.5  2846.5       0   2846.5

                           barCount
date
2018-01-31 12:00:00-05:00         1
2018-01-31 13:00:00-05:00         0
2018-01-31 14:00:00-05:00         0
curr_ts='2018-01-31 12:00:00-05:00'
Requesting data for curr_ts='2018-01-31 12:00:00-05:00'
df=len=20 [2018-01-29 22:00:00-05:00, 2018-01-30 16:30:00-05:00]
df=len=20 [2018-01-29 22:00:00-05:00, 2018-01-30 16:30:00-05:00]
                              open     high      low    close  volume  \
date
2018-01-29 22:00:00-05:00  2859.25  2859.25  2859.25  2859.25       2
2018-01-29 23:00:00-05:00  2859.25  2859.25  2859.25  2859.25       0
2018-01-30 00:00:00-05:00  2859.25  2859.25  2859.25  2859.25       0

                           average  barCount
date
2018-01-29 22:00:00-05:00  2859.25         2
2018-01-29 23:00:00-05:00  2859.25         0
2018-01-30 00:00:00-05:00  2859.25         0
curr_ts='2018-01-29 22:00:00-05:00'
Requesting data for curr_ts='2018-01-29 22:00:00-05:00'
df=len=4 [2018-01-29 14:00:00-05:00, 2018-01-29 16:30:00-05:00]
df=len=4 [2018-01-29 14:00:00-05:00, 2018-01-29 16:30:00-05:00]
                             open    high     low   close  volume  average  \
date
2018-01-29 14:00:00-05:00  2879.0  2879.0  2879.0  2879.0       1   2879.0
2018-01-29 15:00:00-05:00  2877.0  2877.0  2877.0  2877.0       1   2877.0
2018-01-29 16:00:00-05:00  2877.0  2877.0  2877.0  2877.0       0   2877.0

                           barCount
date
2018-01-29 14:00:00-05:00         1
2018-01-29 15:00:00-05:00         1
2018-01-29 16:00:00-05:00         0
curr_ts='2018-01-29 14:00:00-05:00'
Requesting data for curr_ts='2018-01-29 14:00:00-05:00'
API error: 162: Historical Market Data Service error message:HMDS query returned no data: ESH1@GLOBEX Trades
API error: 162: Historical Market Data Service error message:HMDS query returned no data: ESH1@GLOBEX Trades
API error: 162: Historical Market Data Service error message:HMDS query returned no data: ESH1@GLOBEX Trades

AttributeError: 'NoneType' object has no attribute 'set_index'

In [ ]:
hprint.print(df.index)

In [ ]:
contract = ib_insync.ContFuture("ES", "GLOBEX", "USD")
whatToShow = "TRADES"
durationStr = "1 D"
barSizeSetting = "1 hour"
# 2021-02-18 is a Thursday and it's full day.
start_ts = pd.Timestamp("2021-02-17 00:00:00")
end_ts = pd.Timestamp("2021-02-18 23:59:59")
useRTH = False
df, return_ts_seq = imidegaut.get_historical_data_with_IB_loop(
    ib,
    contract,
    start_ts,
    end_ts,
    durationStr,
    barSizeSetting,
    whatToShow,
    useRTH,
    return_ts_seq=True,
)
print(return_ts_seq)

In [21]:
print("\n".join(map(str, return_ts_seq)))

(datetime.datetime(2021, 2, 18, 23, 59, 59, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>), Timestamp('2021-02-18 18:00:00-0500', tz='America/New_York'))
(Timestamp('2021-02-18 18:00:00-0500', tz='America/New_York'), Timestamp('2021-02-17 18:00:00-0500', tz='America/New_York'))
(Timestamp('2021-02-17 18:00:00-0500', tz='America/New_York'), Timestamp('2021-02-16 18:00:00-0500', tz='America/New_York'))