In [62]:
#Pulling required packages--
import pandas as pd
import math
import numpy as np 
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)

In [63]:
#Pulling Data from Issues Table-
issues_df = pd.read_csv('github_issues.csv')  
print("Pulling The Issues df:",issues_df.shape)


#Pulling Data from Commits Table-
commits_df = pd.read_csv('github_commits.csv')  
print("Pulling the Commits df:",commits_df.shape)


#Pulling Data from Main Table-
main_df = pd.read_csv('github_main.csv')  

print("Pulling the Main df:",main_df.shape)

Pulling The Issues df: (132, 13)
Pulling the Commits df: (728, 12)
Pulling the Main df: (26, 16)

In [84]:
#Sample df display----
#data=main_df[main_df['Crypto']=='bitcoin']
#data=commits_df[commits_df['Crypto_Name']=='solana']
data=issues_df[issues_df['Crypto_Name']=='solana']

data.head(2)

,id,number,title,created_at,updated_at,closed_at,author_association,comments,body,user_login,user_id,Crypto_Name,Extension
0,1661541619,31138,v1.14: doc: typo in geyser plugin doc (backpor...,2023-04-10 23:29:19,2023-04-10 23:30:21,NaN,CONTRIBUTOR,0,This is an automatic backport of pull request ...,mergify[bot],37929162,solana,/issues
1,1661342491,31137,validator: `--tpu-host-addr` -> `--public-tpu-...,2023-04-10 20:49:31,2023-04-11 00:04:07,NaN,CONTRIBUTOR,1,#### Problem\r\n\r\n`--tpu-host-addr` is not v...,diman-io,71597545,solana,/issues

In [85]:
#Code for Univariate analysis---

#### code for catagorical data
data_file = data.select_dtypes(exclude =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

        #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
discrete_dataFrame_cat = discrete_dataFrame.copy()
discrete_dataFrame_cat['Column_Type']=['Categorical']*len(discrete_dataFrame_cat)        
discrete_dataFrame_cat = discrete_dataFrame_cat[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts']]
        
#### code for cont. data
data_file = data.select_dtypes(include =np.number)
def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count

discrete_dataFrame_columns = ['Column Name', 'total_count', 'unique_count', 'null_count', '% null', 'levels',
                                  'value_count', '% counts']
discrete_dataFrame = pd.DataFrame(columns=discrete_dataFrame_columns)

def count_stats(column_data):
    total_count = column_data.size
    unique_count = column_data.nunique()
    null_count = column_data.isnull().sum()

    ## printing column counts
    #print('Total number of values : {}'.format(total_count))
    #print('Total number of unique values : {}'.format(unique_count))
    #print('Total number of null values : {}'.format(null_count))

    return total_count, unique_count, null_count
for column in data_file.columns:

       #print("Working on : " + column)

        column_data = data_file[column]
        total_count, unique_count , null_count = count_stats(column_data)
        if(total_count!=0):
            null_per = float(null_count)/float(total_count)*100
        else:
            null_per = 0

        #column_type,column_data = get_column_type(column_data)


        value_counts = pd.DataFrame(column_data.value_counts())
        value_counts = value_counts.reset_index()
        value_counts.insert(loc=0,column='Column Name',value=column)
        value_count_columns = ['Column Name','levels', 'value_count']
        value_counts.columns = value_count_columns
        value_counts = value_counts.sort_values(by='value_count', ascending=False)
        value_counts_top = value_counts[:10].copy()
        top_frequency = value_counts_top.value_count.sum()
        others_frequency = value_counts[10:].value_count.sum()


        temp_column_names = ['Column Name','total_count','unique_count','null_count','% null']
        temp_values = [[column,total_count,unique_count,null_count,null_per]]
        temp_dataFrame = pd.DataFrame(columns=temp_column_names,data=temp_values)

        ## create value counts dataframe with others column
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'others',others_frequency]]))
        ## add null level
        value_counts_top = value_counts_top.append(pd.DataFrame(columns=value_count_columns,data=[[column,'nulls',null_count]]))
        ## add % counts

        if(total_count!=0):
                value_counts_top['% counts'] = value_counts_top.value_count/float(total_count) * 100
        else:
                value_counts_top['% counts'] = 0

            ## merge temp_dataframe and value_counts_top, then insert into discrete_dataframe
        temp_discrete_dataFrame = temp_dataFrame.merge(how='left',left_on='Column Name',right_on='Column Name',right=value_counts_top)

        discrete_dataFrame = discrete_dataFrame.append(temp_discrete_dataFrame)
df=data_file.describe(percentiles=[.1,.2,.25,.3,.4,.6,.7,.75,.8,.9]).T.reset_index()
df=df.drop(labels="count",axis=1)
df2=pd.merge(discrete_dataFrame,df,how='left',left_on='Column Name',right_on='index')
Q1 = data_file.quantile(0.25)
Q3 = data_file.quantile(0.75)
IQR = Q3 - Q1
outliers=pd.DataFrame(data=((data_file< (Q1 - 1.5 * IQR)) | (data_file > (Q3 + 1.5 * IQR))).sum(),columns=["Outliers_count"]).reset_index()
df3=pd.merge(df2,outliers,how='left',left_on='Column Name',right_on='index')
df3=df3.drop(labels=['index_x','index_y'],axis=1)
df3['Column_Type']=['Continous']*len(df3)
df3=df3[['Column_Type','Column Name', 'total_count', 'unique_count', 'null_count', '% null',
       'levels', 'value_count', '% counts', 'mean', 'std', 'min',  '50%', 'max',
       'Outliers_count']]
df3=df3.append(discrete_dataFrame_cat)

In [66]:
#Univariate for github_main - Solana
sol_main=df3
sol_main.insert(0, 'Crypto', 'Solana')
sol_main

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,Solana,Continous,id,12,1,0,0.0,121470383,12,100.0,1.214704e+08,0.000000,121470383.0,121470383.0,121470383.0,0.0
1,Solana,Continous,id,12,1,0,0.0,others,0,0.0,1.214704e+08,0.000000,121470383.0,121470383.0,121470383.0,0.0
2,Solana,Continous,id,12,1,0,0.0,nulls,0,0.0,1.214704e+08,0.000000,121470383.0,121470383.0,121470383.0,0.0
3,Solana,Continous,size,12,10,0,0.0,439138,2,16.666667,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
4,Solana,Continous,size,12,10,0,0.0,440738,2,16.666667,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
5,Solana,Continous,size,12,10,0,0.0,439684,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
6,Solana,Continous,size,12,10,0,0.0,439241,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
7,Solana,Continous,size,12,10,0,0.0,439317,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
8,Solana,Continous,size,12,10,0,0.0,440589,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
9,Solana,Continous,size,12,10,0,0.0,440597,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
10,Solana,Continous,size,12,10,0,0.0,440628,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
11,Solana,Continous,size,12,10,0,0.0,440743,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
12,Solana,Continous,size,12,10,0,0.0,440970,1,8.333333,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
13,Solana,Continous,size,12,10,0,0.0,others,0,0.0,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
14,Solana,Continous,size,12,10,0,0.0,nulls,0,0.0,4.401268e+05,745.634461,439138.0,440593.0,440970.0,0.0
15,Solana,Continous,stargazers_count,12,5,0,0.0,10182,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
16,Solana,Continous,stargazers_count,12,5,0,0.0,10190,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
17,Solana,Continous,stargazers_count,12,5,0,0.0,10193,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
18,Solana,Continous,stargazers_count,12,5,0,0.0,10186,2,16.666667,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
19,Solana,Continous,stargazers_count,12,5,0,0.0,10187,1,8.333333,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
20,Solana,Continous,stargazers_count,12,5,0,0.0,others,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
21,Solana,Continous,stargazers_count,12,5,0,0.0,nulls,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
22,Solana,Continous,watchers_count,12,5,0,0.0,10182,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
23,Solana,Continous,watchers_count,12,5,0,0.0,10190,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
24,Solana,Continous,watchers_count,12,5,0,0.0,10193,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
25,Solana,Continous,watchers_count,12,5,0,0.0,10186,2,16.666667,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
26,Solana,Continous,watchers_count,12,5,0,0.0,10187,1,8.333333,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
27,Solana,Continous,watchers_count,12,5,0,0.0,others,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
28,Solana,Continous,watchers_count,12,5,0,0.0,nulls,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
29,Solana,Continous,forks_count,12,9,0,0.0,2833,3,25.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
30,Solana,Continous,forks_count,12,9,0,0.0,2824,2,16.666667,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
31,Solana,Continous,forks_count,12,9,0,0.0,2826,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
32,Solana,Continous,forks_count,12,9,0,0.0,2828,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
33,Solana,Continous,forks_count,12,9,0,0.0,2829,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
34,Solana,Continous,forks_count,12,9,0,0.0,2830,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
35,Solana,Continous,forks_count,12,9,0,0.0,2831,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
36,Solana,Continous,forks_count,12,9,0,0.0,2832,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
37,Solana,Continous,forks_count,12,9,0,0.0,2834,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
38,Solana,Continous,forks_count,12,9,0,0.0,others,0,0.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
39,Solana,Continous,forks_count,12,9,0,0.0,nulls,0,0.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
40,Solana,Continous,open_issues_count,12,9,0,0.0,861,3,25.0,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
41,Solana,Continous,open_issues_count,12,9,0,0.0,870,2,16.666667,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
42,Solana,Continous,open_issues_count,12,9,0,0.0,871,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
43,Solana,Continous,open_issues_count,12,9,0,0.0,873,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
44,Solana,Continous,open_issues_count,12,9,0,0.0,872,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
45,Solana,Continous,open_issues_count,12,9,0,0.0,866,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
46,Solana,Continous,open_issues_count,12,9,0,0.0,863,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
47,Solana,Continous,open_issues_count,12,9,0,0.0,860,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
48,Solana,Continous,open_issues_count,12,9,0,0.0,859,1,8.333333,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
49,Solana,Continous,open_issues_count,12,9,0,0.0,others,0,0.0,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
50,Solana,Continous,open_issues_count,12,9,0,0.0,nulls,0,0.0,8.655833e+02,5.299371,859.0,864.5,873.0,0.0
51,Solana,Continous,watchers,12,5,0,0.0,10182,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
52,Solana,Continous,watchers,12,5,0,0.0,10190,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
53,Solana,Continous,watchers,12,5,0,0.0,10193,3,25.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
54,Solana,Continous,watchers,12,5,0,0.0,10186,2,16.666667,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
55,Solana,Continous,watchers,12,5,0,0.0,10187,1,8.333333,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
56,Solana,Continous,watchers,12,5,0,0.0,others,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
57,Solana,Continous,watchers,12,5,0,0.0,nulls,0,0.0,1.018783e+04,4.302924,10182.0,10188.5,10193.0,0.0
58,Solana,Continous,network_count,12,9,0,0.0,2833,3,25.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
59,Solana,Continous,network_count,12,9,0,0.0,2824,2,16.666667,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
60,Solana,Continous,network_count,12,9,0,0.0,2826,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
61,Solana,Continous,network_count,12,9,0,0.0,2828,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
62,Solana,Continous,network_count,12,9,0,0.0,2829,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
63,Solana,Continous,network_count,12,9,0,0.0,2830,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
64,Solana,Continous,network_count,12,9,0,0.0,2831,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
65,Solana,Continous,network_count,12,9,0,0.0,2832,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
66,Solana,Continous,network_count,12,9,0,0.0,2834,1,8.333333,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
67,Solana,Continous,network_count,12,9,0,0.0,others,0,0.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
68,Solana,Continous,network_count,12,9,0,0.0,nulls,0,0.0,2.829750e+03,3.570714,2824.0,2830.5,2834.0,0.0
69,Solana,Continous,subscribers_count,12,2,0,0.0,270,8,66.666667,2.696667e+02,0.492366,269.0,270.0,270.0,0.0
70,Solana,Continous,subscribers_count,12,2,0,0.0,269,4,33.333333,2.696667e+02,0.492366,269.0,270.0,270.0,0.0
71,Solana,Continous,subscribers_count,12,2,0,0.0,others,0,0.0,2.696667e+02,0.492366,269.0,270.0,270.0,0.0
72,Solana,Continous,subscribers_count,12,2,0,0.0,nulls,0,0.0,2.696667e+02,0.492366,269.0,270.0,270.0,0.0
73,Solana,Continous,owner_id,12,1,0,0.0,35608259,12,100.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
74,Solana,Continous,owner_id,12,1,0,0.0,others,0,0.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
75,Solana,Continous,owner_id,12,1,0,0.0,nulls,0,0.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
76,Solana,Continous,organization_id,12,1,0,0.0,35608259,12,100.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
77,Solana,Continous,organization_id,12,1,0,0.0,others,0,0.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
78,Solana,Continous,organization_id,12,1,0,0.0,nulls,0,0.0,3.560826e+07,0.000000,35608259.0,35608259.0,35608259.0,0.0
0,Solana,Categorical,created_at,12,1,0,0.0,2018-02-14 04:26:27+00:00,12,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,created_at,12,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,created_at,12,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-11 18:18:42.000000,3,25.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-14 15:07:20.000000,3,25.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-12 15:36:47.000000,2,16.666667,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-13 16:51:57.000000,2,16.666667,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-12 23:36:27.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,updated_at,12,6,0,0.0,2023-04-13 06:43:54.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,updated_at,12,6,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,updated_at,12,6,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-11 18:56:16.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-11 20:00:44.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-12 01:32:48.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-12 15:59:44.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-12 17:43:35.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-13 00:11:28.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-13 06:25:37.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-13 17:52:33.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-14 02:21:42.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,pushed_at,12,12,0,0.0,2023-04-14 15:54:01.000000,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,pushed_at,12,12,0,0.0,others,2,16.666667,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,pushed_at,12,12,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,Crypto,12,1,0,0.0,solana,12,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,Crypto,12,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,Crypto,12,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-11 19:15:07.319429,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-11 20:08:40.057045,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-12 02:29:16.483210,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-12 16:08:56.642090,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-12 18:05:12.386244,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-13 00:21:57.949175,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-13 06:32:14.187028,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-13 18:05:13.588173,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-14 03:07:02.246605,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,inserted_at,12,12,0,0.0,2023-04-14 16:01:10.498974,1,8.333333,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,inserted_at,12,12,0,0.0,others,2,16.666667,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,inserted_at,12,12,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
#Univariate for github_main - BTC
btc_main=df3
btc_main.insert(0, 'Crypto', 'BTC')
btc_main

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,BTC,Continous,id,14,1,0,0.0,1181927,14,100.0,1.181927e+06,0.000000,1181927.0,1181927.0,1181927.0,0.0
1,BTC,Continous,id,14,1,0,0.0,others,0,0.0,1.181927e+06,0.000000,1181927.0,1181927.0,1181927.0,0.0
2,BTC,Continous,id,14,1,0,0.0,nulls,0,0.0,1.181927e+06,0.000000,1181927.0,1181927.0,1181927.0,0.0
3,BTC,Continous,size,14,7,0,0.0,228758,4,28.571429,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
4,BTC,Continous,size,14,7,0,0.0,228984,3,21.428571,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
5,BTC,Continous,size,14,7,0,0.0,228959,2,14.285714,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
6,BTC,Continous,size,14,7,0,0.0,228971,2,14.285714,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
7,BTC,Continous,size,14,7,0,0.0,228782,1,7.142857,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
8,BTC,Continous,size,14,7,0,0.0,228813,1,7.142857,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
9,BTC,Continous,size,14,7,0,0.0,228978,1,7.142857,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
10,BTC,Continous,size,14,7,0,0.0,others,0,0.0,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
11,BTC,Continous,size,14,7,0,0.0,nulls,0,0.0,2.288869e+05,105.266303,228758.0,228959.0,228984.0,0.0
12,BTC,Continous,stargazers_count,14,11,0,0.0,69004,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
13,BTC,Continous,stargazers_count,14,11,0,0.0,69025,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
14,BTC,Continous,stargazers_count,14,11,0,0.0,69067,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
15,BTC,Continous,stargazers_count,14,11,0,0.0,69003,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
16,BTC,Continous,stargazers_count,14,11,0,0.0,69009,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
17,BTC,Continous,stargazers_count,14,11,0,0.0,69018,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
18,BTC,Continous,stargazers_count,14,11,0,0.0,69017,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
19,BTC,Continous,stargazers_count,14,11,0,0.0,69043,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
20,BTC,Continous,stargazers_count,14,11,0,0.0,69044,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
21,BTC,Continous,stargazers_count,14,11,0,0.0,69046,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
22,BTC,Continous,stargazers_count,14,11,0,0.0,others,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
23,BTC,Continous,stargazers_count,14,11,0,0.0,nulls,0,0.0,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
24,BTC,Continous,watchers_count,14,11,0,0.0,69004,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
25,BTC,Continous,watchers_count,14,11,0,0.0,69025,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
26,BTC,Continous,watchers_count,14,11,0,0.0,69067,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
27,BTC,Continous,watchers_count,14,11,0,0.0,69003,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
28,BTC,Continous,watchers_count,14,11,0,0.0,69009,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
29,BTC,Continous,watchers_count,14,11,0,0.0,69018,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
30,BTC,Continous,watchers_count,14,11,0,0.0,69017,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
31,BTC,Continous,watchers_count,14,11,0,0.0,69043,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
32,BTC,Continous,watchers_count,14,11,0,0.0,69044,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
33,BTC,Continous,watchers_count,14,11,0,0.0,69046,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
34,BTC,Continous,watchers_count,14,11,0,0.0,others,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
35,BTC,Continous,watchers_count,14,11,0,0.0,nulls,0,0.0,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
36,BTC,Continous,forks_count,14,8,0,0.0,34048,3,21.428571,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
37,BTC,Continous,forks_count,14,8,0,0.0,34052,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
38,BTC,Continous,forks_count,14,8,0,0.0,34051,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
39,BTC,Continous,forks_count,14,8,0,0.0,34060,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
40,BTC,Continous,forks_count,14,8,0,0.0,34072,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
41,BTC,Continous,forks_count,14,8,0,0.0,34049,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
42,BTC,Continous,forks_count,14,8,0,0.0,34062,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
43,BTC,Continous,forks_count,14,8,0,0.0,34065,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
44,BTC,Continous,forks_count,14,8,0,0.0,others,0,0.0,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
45,BTC,Continous,forks_count,14,8,0,0.0,nulls,0,0.0,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
46,BTC,Continous,open_issues_count,14,4,0,0.0,684,9,64.285714,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
47,BTC,Continous,open_issues_count,14,4,0,0.0,682,3,21.428571,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
48,BTC,Continous,open_issues_count,14,4,0,0.0,685,1,7.142857,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
49,BTC,Continous,open_issues_count,14,4,0,0.0,683,1,7.142857,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
50,BTC,Continous,open_issues_count,14,4,0,0.0,others,0,0.0,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
51,BTC,Continous,open_issues_count,14,4,0,0.0,nulls,0,0.0,6.835714e+02,0.937614,682.0,684.0,685.0,3.0
52,BTC,Continous,watchers,14,11,0,0.0,69004,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
53,BTC,Continous,watchers,14,11,0,0.0,69025,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
54,BTC,Continous,watchers,14,11,0,0.0,69067,2,14.285714,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
55,BTC,Continous,watchers,14,11,0,0.0,69003,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
56,BTC,Continous,watchers,14,11,0,0.0,69009,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
57,BTC,Continous,watchers,14,11,0,0.0,69018,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
58,BTC,Continous,watchers,14,11,0,0.0,69017,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
59,BTC,Continous,watchers,14,11,0,0.0,69043,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
60,BTC,Continous,watchers,14,11,0,0.0,69044,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
61,BTC,Continous,watchers,14,11,0,0.0,69046,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
62,BTC,Continous,watchers,14,11,0,0.0,others,1,7.142857,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
63,BTC,Continous,watchers,14,11,0,0.0,nulls,0,0.0,6.903107e+04,23.724263,69003.0,69025.0,69067.0,0.0
64,BTC,Continous,network_count,14,8,0,0.0,34048,3,21.428571,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
65,BTC,Continous,network_count,14,8,0,0.0,34052,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
66,BTC,Continous,network_count,14,8,0,0.0,34051,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
67,BTC,Continous,network_count,14,8,0,0.0,34060,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
68,BTC,Continous,network_count,14,8,0,0.0,34072,2,14.285714,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
69,BTC,Continous,network_count,14,8,0,0.0,34049,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
70,BTC,Continous,network_count,14,8,0,0.0,34062,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
71,BTC,Continous,network_count,14,8,0,0.0,34065,1,7.142857,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
72,BTC,Continous,network_count,14,8,0,0.0,others,0,0.0,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
73,BTC,Continous,network_count,14,8,0,0.0,nulls,0,0.0,3.405643e+04,8.688757,34048.0,34052.0,34072.0,0.0
74,BTC,Continous,subscribers_count,14,3,0,0.0,3932,9,64.285714,3.931571e+03,0.646206,3930.0,3932.0,3932.0,0.0
75,BTC,Continous,subscribers_count,14,3,0,0.0,3931,4,28.571429,3.931571e+03,0.646206,3930.0,3932.0,3932.0,0.0
76,BTC,Continous,subscribers_count,14,3,0,0.0,3930,1,7.142857,3.931571e+03,0.646206,3930.0,3932.0,3932.0,0.0
77,BTC,Continous,subscribers_count,14,3,0,0.0,others,0,0.0,3.931571e+03,0.646206,3930.0,3932.0,3932.0,0.0
78,BTC,Continous,subscribers_count,14,3,0,0.0,nulls,0,0.0,3.931571e+03,0.646206,3930.0,3932.0,3932.0,0.0
79,BTC,Continous,owner_id,14,1,0,0.0,528860,14,100.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
80,BTC,Continous,owner_id,14,1,0,0.0,others,0,0.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
81,BTC,Continous,owner_id,14,1,0,0.0,nulls,0,0.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
82,BTC,Continous,organization_id,14,1,0,0.0,528860,14,100.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
83,BTC,Continous,organization_id,14,1,0,0.0,others,0,0.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
84,BTC,Continous,organization_id,14,1,0,0.0,nulls,0,0.0,5.288600e+05,0.000000,528860.0,528860.0,528860.0,0.0
0,BTC,Categorical,created_at,14,1,0,0.0,2010-12-19 15:16:43+00:00,14,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,created_at,14,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,created_at,14,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-11 19:13:53.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-12 23:38:13.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-15 00:46:51.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-11 19:23:25.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-12 02:06:45.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-12 14:45:19.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-12 16:03:12.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-13 15:47:48.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-13 17:59:18.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,updated_at,14,11,0,0.0,2023-04-14 02:48:38.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,updated_at,14,11,0,0.0,others,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,updated_at,14,11,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-11 18:36:34.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-12 23:56:47.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-14 23:48:19.000000,2,14.285714,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-11 20:01:38.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-11 21:35:23.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-12 15:11:27.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-12 16:11:36.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-13 15:12:48.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-13 18:46:43.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,pushed_at,14,11,0,0.0,2023-04-14 01:44:41.000000,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,pushed_at,14,11,0,0.0,others,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,pushed_at,14,11,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,Crypto,14,1,0,0.0,bitcoin,14,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,Crypto,14,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,Crypto,14,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-11 19:14:25.475622,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-11 19:15:33.946535,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-11 20:04:03.233761,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-12 02:30:25.366766,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-12 13:52:26.770311,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-12 16:15:17.694781,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-13 00:10:15.096663,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-13 00:13:49.896068,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-13 15:56:07.776892,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,inserted_at,14,14,0,0.0,2023-04-13 19:10:10.648369,1,7.142857,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,inserted_at,14,14,0,0.0,others,4,28.571429,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,inserted_at,14,14,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
#Univariate for github_commits - BTC
btc_commits=df3
btc_commits.insert(0, 'Crypto', 'BTC')
btc_commits

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,BTC,Continous,total,312,42,0,0.0,44,24,7.692308,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
1,BTC,Continous,total,312,42,0,0.0,40,18,5.769231,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
2,BTC,Continous,total,312,42,0,0.0,35,18,5.769231,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
3,BTC,Continous,total,312,42,0,0.0,36,13,4.166667,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
4,BTC,Continous,total,312,42,0,0.0,20,12,3.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
5,BTC,Continous,total,312,42,0,0.0,32,12,3.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
6,BTC,Continous,total,312,42,0,0.0,22,12,3.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
7,BTC,Continous,total,312,42,0,0.0,60,12,3.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
8,BTC,Continous,total,312,42,0,0.0,39,12,3.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
9,BTC,Continous,total,312,42,0,0.0,42,11,3.525641,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
10,BTC,Continous,total,312,42,0,0.0,others,168,53.846154,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
11,BTC,Continous,total,312,42,0,0.0,nulls,0,0.0,3.856731e+01,1.546644e+01,4.000000e+00,3.900000e+01,7.200000e+01,0.0
12,BTC,Continous,week,312,52,0,0.0,1650153600,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
13,BTC,Continous,week,312,52,0,0.0,1650758400,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
14,BTC,Continous,week,312,52,0,0.0,1657411200,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
15,BTC,Continous,week,312,52,0,0.0,1651363200,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
16,BTC,Continous,week,312,52,0,0.0,1651968000,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
17,BTC,Continous,week,312,52,0,0.0,1652572800,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
18,BTC,Continous,week,312,52,0,0.0,1653177600,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
19,BTC,Continous,week,312,52,0,0.0,1653782400,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
20,BTC,Continous,week,312,52,0,0.0,1654387200,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
21,BTC,Continous,week,312,52,0,0.0,1654992000,6,1.923077,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
22,BTC,Continous,week,312,52,0,0.0,others,252,80.769231,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
23,BTC,Continous,week,312,52,0,0.0,nulls,0,0.0,1.665576e+09,9.091620e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
24,BTC,Continous,Sun,312,9,0,0.0,0,96,30.769231,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
25,BTC,Continous,Sun,312,9,0,0.0,1,84,26.923077,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
26,BTC,Continous,Sun,312,9,0,0.0,3,42,13.461538,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
27,BTC,Continous,Sun,312,9,0,0.0,4,30,9.615385,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
28,BTC,Continous,Sun,312,9,0,0.0,2,22,7.051282,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
29,BTC,Continous,Sun,312,9,0,0.0,5,18,5.769231,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
30,BTC,Continous,Sun,312,9,0,0.0,7,8,2.564103,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
31,BTC,Continous,Sun,312,9,0,0.0,8,6,1.923077,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
32,BTC,Continous,Sun,312,9,0,0.0,10,6,1.923077,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
33,BTC,Continous,Sun,312,9,0,0.0,others,0,0.0,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
34,BTC,Continous,Sun,312,9,0,0.0,nulls,0,0.0,2.012821e+00,2.262478e+00,0.000000e+00,1.000000e+00,1.000000e+01,12.0
35,BTC,Continous,Mon,312,14,0,0.0,4,60,19.230769,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
36,BTC,Continous,Mon,312,14,0,0.0,2,41,13.141026,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
37,BTC,Continous,Mon,312,14,0,0.0,12,36,11.538462,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
38,BTC,Continous,Mon,312,14,0,0.0,3,27,8.653846,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
39,BTC,Continous,Mon,312,14,0,0.0,10,24,7.692308,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
40,BTC,Continous,Mon,312,14,0,0.0,7,24,7.692308,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
41,BTC,Continous,Mon,312,14,0,0.0,9,23,7.371795,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
42,BTC,Continous,Mon,312,14,0,0.0,6,18,5.769231,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
43,BTC,Continous,Mon,312,14,0,0.0,0,16,5.128205,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
44,BTC,Continous,Mon,312,14,0,0.0,8,13,4.166667,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
45,BTC,Continous,Mon,312,14,0,0.0,others,30,9.615385,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
46,BTC,Continous,Mon,312,14,0,0.0,nulls,0,0.0,6.423077e+00,3.949909e+00,0.000000e+00,6.000000e+00,1.500000e+01,0.0
47,BTC,Continous,Tue,312,18,0,0.0,7,48,15.384615,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
48,BTC,Continous,Tue,312,18,0,0.0,8,37,11.858974,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
49,BTC,Continous,Tue,312,18,0,0.0,6,36,11.538462,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
50,BTC,Continous,Tue,312,18,0,0.0,5,30,9.615385,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
51,BTC,Continous,Tue,312,18,0,0.0,9,23,7.371795,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
52,BTC,Continous,Tue,312,18,0,0.0,3,18,5.769231,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
53,BTC,Continous,Tue,312,18,0,0.0,12,18,5.769231,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
54,BTC,Continous,Tue,312,18,0,0.0,2,18,5.769231,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
55,BTC,Continous,Tue,312,18,0,0.0,18,12,3.846154,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
56,BTC,Continous,Tue,312,18,0,0.0,10,12,3.846154,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
57,BTC,Continous,Tue,312,18,0,0.0,others,60,19.230769,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
58,BTC,Continous,Tue,312,18,0,0.0,nulls,0,0.0,8.064103e+00,4.386004e+00,0.000000e+00,7.000000e+00,2.100000e+01,18.0
59,BTC,Continous,Wed,312,17,0,0.0,4,61,19.551282,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
60,BTC,Continous,Wed,312,17,0,0.0,2,31,9.935897,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
61,BTC,Continous,Wed,312,17,0,0.0,9,30,9.615385,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
62,BTC,Continous,Wed,312,17,0,0.0,3,30,9.615385,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
63,BTC,Continous,Wed,312,17,0,0.0,10,24,7.692308,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
64,BTC,Continous,Wed,312,17,0,0.0,5,24,7.692308,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
65,BTC,Continous,Wed,312,17,0,0.0,8,20,6.410256,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
66,BTC,Continous,Wed,312,17,0,0.0,14,18,5.769231,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
67,BTC,Continous,Wed,312,17,0,0.0,7,16,5.128205,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
68,BTC,Continous,Wed,312,17,0,0.0,13,12,3.846154,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
69,BTC,Continous,Wed,312,17,0,0.0,others,46,14.74359,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
70,BTC,Continous,Wed,312,17,0,0.0,nulls,0,0.0,7.134615e+00,5.494910e+00,0.000000e+00,5.000000e+00,3.100000e+01,12.0
71,BTC,Continous,Thur,312,16,0,0.0,5,42,13.461538,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
72,BTC,Continous,Thur,312,16,0,0.0,6,36,11.538462,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
73,BTC,Continous,Thur,312,16,0,0.0,7,31,9.935897,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
74,BTC,Continous,Thur,312,16,0,0.0,4,30,9.615385,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
75,BTC,Continous,Thur,312,16,0,0.0,3,26,8.333333,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
76,BTC,Continous,Thur,312,16,0,0.0,9,24,7.692308,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
77,BTC,Continous,Thur,312,16,0,0.0,8,23,7.371795,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
78,BTC,Continous,Thur,312,16,0,0.0,2,22,7.051282,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
79,BTC,Continous,Thur,312,16,0,0.0,12,18,5.769231,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
80,BTC,Continous,Thur,312,16,0,0.0,0,16,5.128205,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
81,BTC,Continous,Thur,312,16,0,0.0,others,44,14.102564,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
82,BTC,Continous,Thur,312,16,0,0.0,nulls,0,0.0,6.298077e+00,3.731882e+00,0.000000e+00,6.000000e+00,1.700000e+01,12.0
83,BTC,Continous,Fri,312,17,0,0.0,7,43,13.782051,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
84,BTC,Continous,Fri,312,17,0,0.0,3,36,11.538462,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
85,BTC,Continous,Fri,312,17,0,0.0,8,24,7.692308,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
86,BTC,Continous,Fri,312,17,0,0.0,5,24,7.692308,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
87,BTC,Continous,Fri,312,17,0,0.0,10,24,7.692308,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
88,BTC,Continous,Fri,312,17,0,0.0,4,24,7.692308,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
89,BTC,Continous,Fri,312,17,0,0.0,9,23,7.371795,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
90,BTC,Continous,Fri,312,17,0,0.0,1,21,6.730769,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
91,BTC,Continous,Fri,312,17,0,0.0,0,18,5.769231,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
92,BTC,Continous,Fri,312,17,0,0.0,2,15,4.807692,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
93,BTC,Continous,Fri,312,17,0,0.0,others,60,19.230769,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
94,BTC,Continous,Fri,312,17,0,0.0,nulls,0,0.0,6.580128e+00,4.309563e+00,0.000000e+00,7.000000e+00,1.900000e+01,6.0
95,BTC,Continous,Sat,312,9,0,0.0,0,84,26.923077,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
96,BTC,Continous,Sat,312,9,0,0.0,2,83,26.602564,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
97,BTC,Continous,Sat,312,9,0,0.0,1,67,21.474359,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
98,BTC,Continous,Sat,312,9,0,0.0,3,30,9.615385,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
99,BTC,Continous,Sat,312,9,0,0.0,4,18,5.769231,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
100,BTC,Continous,Sat,312,9,0,0.0,8,12,3.846154,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
101,BTC,Continous,Sat,312,9,0,0.0,7,6,1.923077,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
102,BTC,Continous,Sat,312,9,0,0.0,13,6,1.923077,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
103,BTC,Continous,Sat,312,9,0,0.0,5,6,1.923077,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
104,BTC,Continous,Sat,312,9,0,0.0,others,0,0.0,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
105,BTC,Continous,Sat,312,9,0,0.0,nulls,0,0.0,2.054487e+00,2.449538e+00,0.000000e+00,2.000000e+00,1.300000e+01,24.0
0,BTC,Categorical,days,312,64,0,0.0,"{1,4,9,31,4,9,4}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,days,312,64,0,0.0,"{2,8,15,10,10,19,0}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,days,312,64,0,0.0,"{1,10,12,10,10,9,8}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,days,312,64,0,0.0,"{0,12,7,5,9,7,0}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,days,312,64,0,0.0,"{10,13,8,14,8,13,4}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,days,312,64,0,0.0,"{0,4,11,11,9,7,2}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,days,312,64,0,0.0,"{1,2,10,20,5,4,2}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,days,312,64,0,0.0,"{4,11,8,4,4,2,3}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,days,312,64,0,0.0,"{2,4,12,14,6,9,13}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,days,312,64,0,0.0,"{0,3,2,2,5,8,0}",6,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,days,312,64,0,0.0,others,252,80.769231,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,days,312,64,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,Crypto_Name,312,1,0,0.0,bitcoin,312,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,Crypto_Name,312,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,Crypto_Name,312,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,Extension,312,1,0,0.0,/stats/commit_activity,312,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,Extension,312,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,Extension,312,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#Univariate for github_commits - Solana
sol_commits=df3
sol_commits.insert(0, 'Crypto', 'Solana')
sol_commits

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,Solana,Continous,total,416,45,0,0.0,82,24,5.769231,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
1,Solana,Continous,total,416,45,0,0.0,65,17,4.086538,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
2,Solana,Continous,total,416,45,0,0.0,99,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
3,Solana,Continous,total,416,45,0,0.0,53,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
4,Solana,Continous,total,416,45,0,0.0,76,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
5,Solana,Continous,total,416,45,0,0.0,95,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
6,Solana,Continous,total,416,45,0,0.0,83,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
7,Solana,Continous,total,416,45,0,0.0,60,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
8,Solana,Continous,total,416,45,0,0.0,69,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
9,Solana,Continous,total,416,45,0,0.0,70,16,3.846154,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
10,Solana,Continous,total,416,45,0,0.0,others,247,59.375,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
11,Solana,Continous,total,416,45,0,0.0,nulls,0,0.0,7.089663e+01,2.461357e+01,1.000000e+01,7.150000e+01,1.310000e+02,17.0
12,Solana,Continous,week,416,52,0,0.0,1650153600,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
13,Solana,Continous,week,416,52,0,0.0,1650758400,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
14,Solana,Continous,week,416,52,0,0.0,1657411200,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
15,Solana,Continous,week,416,52,0,0.0,1651363200,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
16,Solana,Continous,week,416,52,0,0.0,1651968000,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
17,Solana,Continous,week,416,52,0,0.0,1652572800,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
18,Solana,Continous,week,416,52,0,0.0,1653177600,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
19,Solana,Continous,week,416,52,0,0.0,1653782400,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
20,Solana,Continous,week,416,52,0,0.0,1654387200,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
21,Solana,Continous,week,416,52,0,0.0,1654992000,8,1.923077,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
22,Solana,Continous,week,416,52,0,0.0,others,336,80.769231,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
23,Solana,Continous,week,416,52,0,0.0,nulls,0,0.0,1.665576e+09,9.087968e+06,1.650154e+09,1.665576e+09,1.680998e+09,0.0
24,Solana,Continous,Sun,416,8,0,0.0,0,136,32.692308,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
25,Solana,Continous,Sun,416,8,0,0.0,1,104,25.0,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
26,Solana,Continous,Sun,416,8,0,0.0,2,64,15.384615,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
27,Solana,Continous,Sun,416,8,0,0.0,4,56,13.461538,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
28,Solana,Continous,Sun,416,8,0,0.0,3,24,5.769231,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
29,Solana,Continous,Sun,416,8,0,0.0,7,16,3.846154,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
30,Solana,Continous,Sun,416,8,0,0.0,19,8,1.923077,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
31,Solana,Continous,Sun,416,8,0,0.0,8,8,1.923077,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
32,Solana,Continous,Sun,416,8,0,0.0,others,0,0.0,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
33,Solana,Continous,Sun,416,8,0,0.0,nulls,0,0.0,2.057692e+00,3.063432e+00,0.000000e+00,1.000000e+00,1.900000e+01,16.0
34,Solana,Continous,Mon,416,23,0,0.0,13,40,9.615385,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
35,Solana,Continous,Mon,416,23,0,0.0,11,40,9.615385,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
36,Solana,Continous,Mon,416,23,0,0.0,16,40,9.615385,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
37,Solana,Continous,Mon,416,23,0,0.0,12,32,7.692308,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
38,Solana,Continous,Mon,416,23,0,0.0,8,32,7.692308,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
39,Solana,Continous,Mon,416,23,0,0.0,9,24,5.769231,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
40,Solana,Continous,Mon,416,23,0,0.0,10,24,5.769231,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
41,Solana,Continous,Mon,416,23,0,0.0,4,16,3.846154,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
42,Solana,Continous,Mon,416,23,0,0.0,14,16,3.846154,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
43,Solana,Continous,Mon,416,23,0,0.0,2,16,3.846154,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
44,Solana,Continous,Mon,416,23,0,0.0,others,136,32.692308,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
45,Solana,Continous,Mon,416,23,0,0.0,nulls,0,0.0,1.144231e+01,5.839338e+00,0.000000e+00,1.100000e+01,2.500000e+01,0.0
46,Solana,Continous,Tue,416,27,0,0.0,15,40,9.615385,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
47,Solana,Continous,Tue,416,27,0,0.0,8,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
48,Solana,Continous,Tue,416,27,0,0.0,25,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
49,Solana,Continous,Tue,416,27,0,0.0,20,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
50,Solana,Continous,Tue,416,27,0,0.0,2,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
51,Solana,Continous,Tue,416,27,0,0.0,12,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
52,Solana,Continous,Tue,416,27,0,0.0,13,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
53,Solana,Continous,Tue,416,27,0,0.0,11,24,5.769231,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
54,Solana,Continous,Tue,416,27,0,0.0,10,17,4.086538,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
55,Solana,Continous,Tue,416,27,0,0.0,22,16,3.846154,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
56,Solana,Continous,Tue,416,27,0,0.0,others,175,42.067308,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
57,Solana,Continous,Tue,416,27,0,0.0,nulls,0,0.0,1.534375e+01,7.598643e+00,0.000000e+00,1.500000e+01,3.400000e+01,0.0
58,Solana,Continous,Wed,416,23,0,0.0,10,56,13.461538,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
59,Solana,Continous,Wed,416,23,0,0.0,7,40,9.615385,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
60,Solana,Continous,Wed,416,23,0,0.0,21,32,7.692308,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
61,Solana,Continous,Wed,416,23,0,0.0,13,32,7.692308,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
62,Solana,Continous,Wed,416,23,0,0.0,19,32,7.692308,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
63,Solana,Continous,Wed,416,23,0,0.0,9,25,6.009615,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
64,Solana,Continous,Wed,416,23,0,0.0,11,24,5.769231,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
65,Solana,Continous,Wed,416,23,0,0.0,15,17,4.086538,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
66,Solana,Continous,Wed,416,23,0,0.0,14,16,3.846154,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
67,Solana,Continous,Wed,416,23,0,0.0,24,16,3.846154,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
68,Solana,Continous,Wed,416,23,0,0.0,others,126,30.288462,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
69,Solana,Continous,Wed,416,23,0,0.0,nulls,0,0.0,1.471875e+01,6.990888e+00,0.000000e+00,1.300000e+01,3.800000e+01,8.0
70,Solana,Continous,Thur,416,21,0,0.0,16,40,9.615385,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
71,Solana,Continous,Thur,416,21,0,0.0,9,34,8.173077,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
72,Solana,Continous,Thur,416,21,0,0.0,14,32,7.692308,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
73,Solana,Continous,Thur,416,21,0,0.0,15,32,7.692308,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
74,Solana,Continous,Thur,416,21,0,0.0,8,32,7.692308,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
75,Solana,Continous,Thur,416,21,0,0.0,13,24,5.769231,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
76,Solana,Continous,Thur,416,21,0,0.0,20,24,5.769231,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
77,Solana,Continous,Thur,416,21,0,0.0,6,24,5.769231,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
78,Solana,Continous,Thur,416,21,0,0.0,0,21,5.048077,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
79,Solana,Continous,Thur,416,21,0,0.0,11,16,3.846154,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
80,Solana,Continous,Thur,416,21,0,0.0,others,137,32.932692,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
81,Solana,Continous,Thur,416,21,0,0.0,nulls,0,0.0,1.236058e+01,6.706931e+00,0.000000e+00,1.250000e+01,3.700000e+01,8.0
82,Solana,Continous,Fri,416,18,0,0.0,10,88,21.153846,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
83,Solana,Continous,Fri,416,18,0,0.0,12,48,11.538462,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
84,Solana,Continous,Fri,416,18,0,0.0,15,40,9.615385,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
85,Solana,Continous,Fri,416,18,0,0.0,9,32,7.692308,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
86,Solana,Continous,Fri,416,18,0,0.0,6,32,7.692308,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
87,Solana,Continous,Fri,416,18,0,0.0,0,31,7.451923,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
88,Solana,Continous,Fri,416,18,0,0.0,17,24,5.769231,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
89,Solana,Continous,Fri,416,18,0,0.0,11,16,3.846154,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
90,Solana,Continous,Fri,416,18,0,0.0,16,16,3.846154,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
91,Solana,Continous,Fri,416,18,0,0.0,8,16,3.846154,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
92,Solana,Continous,Fri,416,18,0,0.0,others,73,17.548077,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
93,Solana,Continous,Fri,416,18,0,0.0,nulls,0,0.0,1.149279e+01,6.447934e+00,0.000000e+00,1.000000e+01,3.500000e+01,24.0
94,Solana,Continous,Sat,416,13,0,0.0,2,72,17.307692,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
95,Solana,Continous,Sat,416,13,0,0.0,1,72,17.307692,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
96,Solana,Continous,Sat,416,13,0,0.0,0,64,15.384615,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
97,Solana,Continous,Sat,416,13,0,0.0,4,56,13.461538,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
98,Solana,Continous,Sat,416,13,0,0.0,5,32,7.692308,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
99,Solana,Continous,Sat,416,13,0,0.0,6,32,7.692308,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
100,Solana,Continous,Sat,416,13,0,0.0,7,24,5.769231,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
101,Solana,Continous,Sat,416,13,0,0.0,3,24,5.769231,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
102,Solana,Continous,Sat,416,13,0,0.0,9,8,1.923077,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
103,Solana,Continous,Sat,416,13,0,0.0,8,8,1.923077,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
104,Solana,Continous,Sat,416,13,0,0.0,others,24,5.769231,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
105,Solana,Continous,Sat,416,13,0,0.0,nulls,0,0.0,3.480769e+00,3.126199e+00,0.000000e+00,2.500000e+00,1.400000e+01,8.0
0,Solana,Categorical,days,416,59,0,0.0,"{1,19,34,26,14,25,5}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,days,416,59,0,0.0,"{0,5,2,10,5,4,0}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,days,416,59,0,0.0,"{7,22,17,9,8,10,5}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,days,416,59,0,0.0,"{7,11,25,22,13,10,2}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,days,416,59,0,0.0,"{0,0,0,7,3,0,0}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,days,416,59,0,0.0,"{0,11,15,21,14,35,7}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,days,416,59,0,0.0,"{19,2,2,7,21,0,0}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,days,416,59,0,0.0,"{0,7,9,20,13,17,3}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,days,416,59,0,0.0,"{1,10,13,13,9,12,2}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,days,416,59,0,0.0,"{4,14,13,11,8,8,4}",8,1.923077,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,days,416,59,0,0.0,others,336,80.769231,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,days,416,59,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,Crypto_Name,416,1,0,0.0,solana,416,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,Crypto_Name,416,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,Crypto_Name,416,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,Extension,416,1,0,0.0,/stats/commit_activity,416,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,Extension,416,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,Extension,416,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#Univariate for github_issues - Solana
sol_issues=df3
sol_issues.insert(0, 'Crypto', 'Solana')
sol_issues

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,Solana,Continous,id,87,87,0,0.0,1661541619,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
1,Solana,Continous,id,87,87,0,0.0,1658452161,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
2,Solana,Continous,id,87,87,0,0.0,1661296052,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
3,Solana,Continous,id,87,87,0,0.0,1661293686,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
4,Solana,Continous,id,87,87,0,0.0,1661257166,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
5,Solana,Continous,id,87,87,0,0.0,1661142003,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
6,Solana,Continous,id,87,87,0,0.0,1661120195,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
7,Solana,Continous,id,87,87,0,0.0,1661106152,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
8,Solana,Continous,id,87,87,0,0.0,1661093712,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
9,Solana,Continous,id,87,87,0,0.0,1661014315,1,1.149425,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
10,Solana,Continous,id,87,87,0,0.0,others,77,88.505747,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
11,Solana,Continous,id,87,87,0,0.0,nulls,0,0.0,1.663361e+09,3.539410e+06,1.655990e+09,1.663322e+09,1.668952e+09,0.0
12,Solana,Continous,number,87,87,0,0.0,31138,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
13,Solana,Continous,number,87,87,0,0.0,31099,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
14,Solana,Continous,number,87,87,0,0.0,31136,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
15,Solana,Continous,number,87,87,0,0.0,31135,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
16,Solana,Continous,number,87,87,0,0.0,31134,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
17,Solana,Continous,number,87,87,0,0.0,31132,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
18,Solana,Continous,number,87,87,0,0.0,31131,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
19,Solana,Continous,number,87,87,0,0.0,31130,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
20,Solana,Continous,number,87,87,0,0.0,31129,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
21,Solana,Continous,number,87,87,0,0.0,31128,1,1.149425,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
22,Solana,Continous,number,87,87,0,0.0,others,77,88.505747,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
23,Solana,Continous,number,87,87,0,0.0,nulls,0,0.0,3.115337e+04,3.822094e+01,3.106400e+04,3.115800e+04,3.121300e+04,0.0
24,Solana,Continous,closed_at,87,0,87,100.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
25,Solana,Continous,closed_at,87,0,87,100.0,nulls,87,100.0,NaN,NaN,NaN,NaN,NaN,0.0
26,Solana,Continous,comments,87,7,0,0.0,0,39,44.827586,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
27,Solana,Continous,comments,87,7,0,0.0,1,36,41.37931,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
28,Solana,Continous,comments,87,7,0,0.0,2,4,4.597701,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
29,Solana,Continous,comments,87,7,0,0.0,3,3,3.448276,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
30,Solana,Continous,comments,87,7,0,0.0,4,3,3.448276,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
31,Solana,Continous,comments,87,7,0,0.0,6,1,1.149425,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
32,Solana,Continous,comments,87,7,0,0.0,5,1,1.149425,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
33,Solana,Continous,comments,87,7,0,0.0,others,0,0.0,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
34,Solana,Continous,comments,87,7,0,0.0,nulls,0,0.0,8.735632e-01,1.189143e+00,0.000000e+00,1.000000e+00,6.000000e+00,8.0
35,Solana,Continous,user_id,87,34,0,0.0,75863576,9,10.344828,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
36,Solana,Continous,user_id,87,34,0,0.0,219428,7,8.045977,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
37,Solana,Continous,user_id,87,34,0,0.0,840349,7,8.045977,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
38,Solana,Continous,user_id,87,34,0,0.0,37929162,6,6.896552,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
39,Solana,Continous,user_id,87,34,0,0.0,13732359,6,6.896552,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
40,Solana,Continous,user_id,87,34,0,0.0,8209234,5,5.747126,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
41,Solana,Continous,user_id,87,34,0,0.0,5400107,5,5.747126,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
42,Solana,Continous,user_id,87,34,0,0.0,59367509,5,5.747126,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
43,Solana,Continous,user_id,87,34,0,0.0,49699333,5,5.747126,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
44,Solana,Continous,user_id,87,34,0,0.0,81144685,2,2.298851,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
45,Solana,Continous,user_id,87,34,0,0.0,others,30,34.482759,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
46,Solana,Continous,user_id,87,34,0,0.0,nulls,0,0.0,3.338069e+07,3.300666e+07,6.200200e+04,1.373236e+07,9.324150e+07,0.0
0,Solana,Categorical,title,87,87,0,0.0,v1.14: doc: typo in geyser plugin doc (backpor...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,title,87,87,0,0.0,"Revert ""Revert Rust 1.68.0 upgrade""",1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,title,87,87,0,0.0,Rename IncrementalSnapshotHashes to SnapshotHa...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,title,87,87,0,0.0,disk index: add more tests,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,title,87,87,0,0.0,chore: Update Blockstore::get_slots_since() do...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,title,87,87,0,0.0,chore: Variable rename `height` ==> `slot` in ...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,title,87,87,0,0.0,Add remove_incomplete_bank_snapshot_dir,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,title,87,87,0,0.0,add test,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,title,87,87,0,0.0,Add secondary vote lockout check,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,title,87,87,0,0.0,"cargo build-sbf depends on libssl.so.1.1, whic...",1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,title,87,87,0,0.0,others,77,88.505747,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,title,87,87,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 23:29:19,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,created_at,87,87,0,0.0,2023-04-07 07:00:40,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 20:10:09,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 20:08:25,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 19:39:33,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 18:04:15,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 17:48:05,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 17:34:14,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 17:21:49,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,created_at,87,87,0,0.0,2023-04-10 16:10:30,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,created_at,87,87,0,0.0,others,77,88.505747,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,created_at,87,87,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 23:30:21,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-07 15:35:05,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-11 01:14:45,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 22:43:24,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 21:20:17,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 20:13:07,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 17:48:05,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 17:34:14,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-11 02:43:35,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,updated_at,87,87,0,0.0,2023-04-10 16:10:30,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,updated_at,87,87,0,0.0,others,77,88.505747,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,updated_at,87,87,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,author_association,87,4,0,0.0,CONTRIBUTOR,74,85.057471,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,author_association,87,4,0,0.0,MEMBER,6,6.896552,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,author_association,87,4,0,0.0,NONE,5,5.747126,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,author_association,87,4,0,0.0,COLLABORATOR,2,2.298851,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,author_association,87,4,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,author_association,87,4,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\n\r\n\r\n#### Summary of Change...,3,3.448276,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,body,87,85,0,0.0,"#### Problem\r\n\r\nIt seems that quite often,...",1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\n\r\nTo handle bootstrap better...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\n\r\n#### Summary of Changes\r\...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,body,87,85,0,0.0,#### Summary of Changes\r\nAdd more descriptiv...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\nSlots refer to time windows wh...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\nCreating a bank snapshot dir t...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\nAdd test related to #31094\r\n...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\nWe're seeing frequent (multipl...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,body,87,85,0,0.0,#### Problem\r\nThe solana build toolchain is ...,1,1.149425,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,body,87,85,0,0.0,others,75,86.206897,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,body,87,85,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,user_login,87,34,0,0.0,jeffwashington,9,10.344828,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,user_login,87,34,0,0.0,HaoranYi,7,8.045977,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,user_login,87,34,0,0.0,brooksprumo,7,8.045977,NaN,NaN,NaN,NaN,NaN,NaN
3,Solana,Categorical,user_login,87,34,0,0.0,mergify[bot],6,6.896552,NaN,NaN,NaN,NaN,NaN,NaN
4,Solana,Categorical,user_login,87,34,0,0.0,apfitzge,6,6.896552,NaN,NaN,NaN,NaN,NaN,NaN
5,Solana,Categorical,user_login,87,34,0,0.0,yihau,5,5.747126,NaN,NaN,NaN,NaN,NaN,NaN
6,Solana,Categorical,user_login,87,34,0,0.0,steviez,5,5.747126,NaN,NaN,NaN,NaN,NaN,NaN
7,Solana,Categorical,user_login,87,34,0,0.0,xiangzhu70,5,5.747126,NaN,NaN,NaN,NaN,NaN,NaN
8,Solana,Categorical,user_login,87,34,0,0.0,dependabot[bot],5,5.747126,NaN,NaN,NaN,NaN,NaN,NaN
9,Solana,Categorical,user_login,87,34,0,0.0,2501babe,2,2.298851,NaN,NaN,NaN,NaN,NaN,NaN
10,Solana,Categorical,user_login,87,34,0,0.0,others,30,34.482759,NaN,NaN,NaN,NaN,NaN,NaN
11,Solana,Categorical,user_login,87,34,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,Crypto_Name,87,1,0,0.0,solana,87,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,Crypto_Name,87,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,Crypto_Name,87,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Solana,Categorical,Extension,87,1,0,0.0,/issues,87,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Solana,Categorical,Extension,87,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Solana,Categorical,Extension,87,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
#Univariate for github_issues - Solana
btc_issues=df3
btc_issues.insert(0, 'Crypto', 'BTC')
btc_issues

,Crypto,Column_Type,Column Name,total_count,unique_count,null_count,% null,levels,value_count,% counts,mean,std,min,50%,max,Outliers_count
0,BTC,Continous,id,45,45,0,0.0,1661601514,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
1,BTC,Continous,id,45,45,0,0.0,1661656788,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
2,BTC,Continous,id,45,45,0,0.0,1661381553,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
3,BTC,Continous,id,45,45,0,0.0,1658927974,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
4,BTC,Continous,id,45,45,0,0.0,1658002064,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
5,BTC,Continous,id,45,45,0,0.0,1657857428,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
6,BTC,Continous,id,45,45,0,0.0,1657835564,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
7,BTC,Continous,id,45,45,0,0.0,1656345711,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
8,BTC,Continous,id,45,45,0,0.0,1656220659,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
9,BTC,Continous,id,45,45,0,0.0,1656067373,1,2.222222,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
10,BTC,Continous,id,45,45,0,0.0,others,35,77.777778,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
11,BTC,Continous,id,45,45,0,0.0,nulls,0,0.0,1.657467e+09,7.386097e+06,1.644651e+09,1.656346e+09,1.669057e+09,0.0
12,BTC,Continous,number,45,45,0,0.0,27445,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
13,BTC,Continous,number,45,45,0,0.0,27446,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
14,BTC,Continous,number,45,45,0,0.0,27444,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
15,BTC,Continous,number,45,45,0,0.0,27436,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
16,BTC,Continous,number,45,45,0,0.0,27434,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
17,BTC,Continous,number,45,45,0,0.0,27433,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
18,BTC,Continous,number,45,45,0,0.0,27432,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
19,BTC,Continous,number,45,45,0,0.0,27427,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
20,BTC,Continous,number,45,45,0,0.0,27426,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
21,BTC,Continous,number,45,45,0,0.0,27425,1,2.222222,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
22,BTC,Continous,number,45,45,0,0.0,others,35,77.777778,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
23,BTC,Continous,number,45,45,0,0.0,nulls,0,0.0,2.742380e+04,3.288451e+01,2.735700e+04,2.742700e+04,2.746800e+04,0.0
24,BTC,Continous,closed_at,45,0,45,100.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,0.0
25,BTC,Continous,closed_at,45,0,45,100.0,nulls,45,100.0,NaN,NaN,NaN,NaN,NaN,0.0
26,BTC,Continous,comments,45,10,0,0.0,1,21,46.666667,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
27,BTC,Continous,comments,45,10,0,0.0,3,8,17.777778,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
28,BTC,Continous,comments,45,10,0,0.0,2,3,6.666667,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
29,BTC,Continous,comments,45,10,0,0.0,5,3,6.666667,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
30,BTC,Continous,comments,45,10,0,0.0,6,3,6.666667,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
31,BTC,Continous,comments,45,10,0,0.0,4,2,4.444444,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
32,BTC,Continous,comments,45,10,0,0.0,9,2,4.444444,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
33,BTC,Continous,comments,45,10,0,0.0,12,1,2.222222,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
34,BTC,Continous,comments,45,10,0,0.0,0,1,2.222222,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
35,BTC,Continous,comments,45,10,0,0.0,10,1,2.222222,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
36,BTC,Continous,comments,45,10,0,0.0,others,0,0.0,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
37,BTC,Continous,comments,45,10,0,0.0,nulls,0,0.0,2.933333e+00,2.774887e+00,0.000000e+00,2.000000e+00,1.200000e+01,4.0
38,BTC,Continous,user_id,45,29,0,0.0,863730,7,15.555556,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
39,BTC,Continous,user_id,45,29,0,0.0,2084648,3,6.666667,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
40,BTC,Continous,user_id,45,29,0,0.0,2415484,3,6.666667,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
41,BTC,Continous,user_id,45,29,0,0.0,6399679,3,6.666667,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
42,BTC,Continous,user_id,45,29,0,0.0,10217,2,4.444444,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
43,BTC,Continous,user_id,45,29,0,0.0,91535,2,4.444444,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
44,BTC,Continous,user_id,45,29,0,0.0,33068296,2,4.444444,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
45,BTC,Continous,user_id,45,29,0,0.0,8077169,2,4.444444,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
46,BTC,Continous,user_id,45,29,0,0.0,8342557,1,2.222222,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
47,BTC,Continous,user_id,45,29,0,0.0,48763452,1,2.222222,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
48,BTC,Continous,user_id,45,29,0,0.0,others,19,42.222222,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
49,BTC,Continous,user_id,45,29,0,0.0,nulls,0,0.0,1.841596e+07,2.806153e+07,1.021700e+04,6.399679e+06,1.101664e+08,4.0
0,BTC,Categorical,title,45,45,0,0.0,Update src/secp256k1 subtree to release v0.3.1,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,title,45,45,0,0.0,Allow configuirng target block time for a signet,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,title,45,45,0,0.0,test: build Valgrind (3.20) from source & use ...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,title,45,45,0,0.0,test: LLVM/Clang 16 for MSAN jobs,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,title,45,45,0,0.0,validation: implement MaybeInvalidateFork() an...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,title,45,45,0,0.0,getblocktemplate improvements for segwit and s...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,title,45,45,0,0.0,contrib: add tool to convert compact-serialize...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,title,45,45,0,0.0,validation: Replace MinBIP9WarningHeight with ...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,title,45,45,0,0.0,Deprecate and remove BIP35 mempool p2p message,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,title,45,45,0,0.0,test: move remaining rand code from util/setup...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,title,45,45,0,0.0,others,35,77.777778,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,title,45,45,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,created_at,45,45,0,0.0,2023-04-11 00:44:35,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,created_at,45,45,0,0.0,2023-04-11 02:06:38,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,created_at,45,45,0,0.0,2023-04-10 21:17:58,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,created_at,45,45,0,0.0,2023-04-07 15:27:28,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,created_at,45,45,0,0.0,2023-04-06 20:25:43,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,created_at,45,45,0,0.0,2023-04-06 18:18:37,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,created_at,45,45,0,0.0,2023-04-06 17:59:23,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,created_at,45,45,0,0.0,2023-04-05 21:56:17,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,created_at,45,45,0,0.0,2023-04-05 20:10:31,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,created_at,45,45,0,0.0,2023-04-05 18:05:11,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,created_at,45,45,0,0.0,others,35,77.777778,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,created_at,45,45,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-11 00:45:52,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-11 02:33:52,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 21:20:11,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 09:57:33,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-08 14:07:18,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 04:08:38,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-07 20:34:01,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 04:08:53,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 21:02:47,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,updated_at,45,45,0,0.0,2023-04-10 21:40:11,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,updated_at,45,45,0,0.0,others,35,77.777778,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,updated_at,45,45,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,author_association,45,3,0,0.0,MEMBER,20,44.444444,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,author_association,45,3,0,0.0,CONTRIBUTOR,17,37.777778,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,author_association,45,3,0,0.0,NONE,8,17.777778,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,author_association,45,3,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,author_association,45,3,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,body,45,44,0,0.0,<!--\r\n*** Please remove the following help t...,2,4.444444,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,body,45,44,0,0.0,There is no strict need for any of the changes...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,body,45,44,0,0.0,**This is based on #27302.** The non-base comm...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,body,45,44,0,0.0,I was originally going to update to using Clan...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,body,45,44,0,0.0,Similar to other CI infra changes we've made r...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,body,45,44,0,0.0,Closes https://github.com/bitcoin/bitcoin/issu...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,body,45,44,0,0.0,**Sigops**\r\n\r\nTwo recent F2Pool blocks vio...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,body,45,44,0,0.0,## Problem description\r\n\r\nThere is demand ...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,body,45,44,0,0.0,This PR addresses [comment](https://github.com...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,body,45,44,0,0.0,The [BIP35](https://github.com/bitcoin/bips/bl...,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,body,45,44,0,0.0,others,34,75.555556,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,body,45,44,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,user_login,45,29,0,0.0,fanquake,7,15.555556,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,user_login,45,29,0,0.0,pinheadmz,3,6.666667,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,user_login,45,29,0,0.0,jonatack,3,6.666667,NaN,NaN,NaN,NaN,NaN,NaN
3,BTC,Categorical,user_login,45,29,0,0.0,MarcoFalke,3,6.666667,NaN,NaN,NaN,NaN,NaN,NaN
4,BTC,Categorical,user_login,45,29,0,0.0,Sjors,2,4.444444,NaN,NaN,NaN,NaN,NaN,NaN
5,BTC,Categorical,user_login,45,29,0,0.0,theStack,2,4.444444,NaN,NaN,NaN,NaN,NaN,NaN
6,BTC,Categorical,user_login,45,29,0,0.0,dimitaracev,2,4.444444,NaN,NaN,NaN,NaN,NaN,NaN
7,BTC,Categorical,user_login,45,29,0,0.0,dergoegge,2,4.444444,NaN,NaN,NaN,NaN,NaN,NaN
8,BTC,Categorical,user_login,45,29,0,0.0,kylezs,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
9,BTC,Categorical,user_login,45,29,0,0.0,mzumsande,1,2.222222,NaN,NaN,NaN,NaN,NaN,NaN
10,BTC,Categorical,user_login,45,29,0,0.0,others,19,42.222222,NaN,NaN,NaN,NaN,NaN,NaN
11,BTC,Categorical,user_login,45,29,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,Crypto_Name,45,1,0,0.0,bitcoin,45,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,Crypto_Name,45,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,Crypto_Name,45,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
0,BTC,Categorical,Extension,45,1,0,0.0,/issues,45,100.0,NaN,NaN,NaN,NaN,NaN,NaN
1,BTC,Categorical,Extension,45,1,0,0.0,others,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BTC,Categorical,Extension,45,1,0,0.0,nulls,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN